.feature-presenter-main-container {
	position: absolute;
	width: 100%;
	background: #151515;
}

.feature-presenter-circle-container {
	display: inline-block;
	overflow: visible;
	transition: transform 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	/*background: #151515 url("../images/arrow.png") no-repeat scroll -32px center / cover;*/
	border: 1px solid #fff;
	border-radius: 50%;
}

.feature-presenter {
    border: 3px solid #fff;
    border-radius: 80px;
    line-height: 150px;
    position: absolute;
    text-align: center;
    background: #151515;
}
.feature-presenter:hover, .feature-presenter.feature-presenter-highlighted 
{border: 3px solid #3AA7BB;}
.feature-presenter-icon {
	background-color: white;
	text-align: center;
	transition: transform 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	border-radius: 50%;
	cursor: pointer;
}

.feature-presenter img {
	max-width: 100%;
	transition: transform 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	filter: blur(0px);
	-webkit-filter: blur(0px);
	image-rendering: -webkit-optimize-contrast;
}

.feature-presenter i {
	font-size: 85px;
}

.feature-presenter-text-container {
	line-height: 1.3;
	display: inline-block;
	vertical-align: top;
	z-index: 1001;
	position: relative;
	overflow: hidden;
}

.feature-presenter-text-heading {
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 56px !important;
    font-weight: lighter;
    text-transform: uppercase;
    color: #fff;
}

.feature-presenter-text-description {
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px !important;
    color: #fff;
}

.feature-presenter-text-container-out {
	-webkit-transform: translate(200%, 0);
    transform: translate(200%, 0);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
}

.feature-presenter-mobile-container {
	overflow: hidden;
	max-width: 1170px;
}

.feature-presenter-mobile {
	width: 33.33%;
	text-align: center;
	float: left;
	padding: 10px 15px 0 15px;
	box-sizing: border-box;
	margin: 0 0 20px 0;
}

.feature-presenter-mobile-100 {
	width: 100% !important;
}

.feature-presenter-mobile-50 {
	width: 50% !important;
}

.feature-presenter-mobile img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
}

.feature-presenter-mobile img:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.feature-presenter-mobile i {
	font-size: 65px;
	-webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
}

.feature-presenter-mobile i:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
}

.feature-presenter-mobile-text {
	padding: 0 10px 20px 10px;
}

.feature-presenter-mobile-text-heading {
	color: rgba(0, 0, 0, 0.8);
	margin: 10px 0;
	font-size: 20px;
}

.feature-presenter-mobile-text-description {
	color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
}
.feature-presenter-circle-container{}
.feature-presenter-text-container {
    background: #93b924;
    color: #fff !important;
    float: right;
    height: 605px;
    margin: 0 !important;
    width: 50% !important;
    padding: 50px;
}