@charset "UTF-8";

@font-face {
  font-family: "alerts-line-icons";
  src:url("../fonts/icon/alerts-line-icons.eot");
  src:url("../fonts/icon/alerts-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/alerts-line-icons.woff") format("woff"),
    url("../fonts/icon/alerts-line-icons.ttf") format("truetype"),
    url("../fonts/icon/alerts-line-icons.svg#alerts-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "alerts-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "alerts-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-street-sign:before {
  content: "a";
}
.icon-alarm-bell:before {
  content: "b";
}
.icon-alarm-clock:before {
  content: "c";
}
.icon-alert-notification:before {
  content: "d";
}
.icon-bomb:before {
  content: "e";
}
.icon-fire:before {
  content: "f";
}
.icon-fire-truck:before {
  content: "g";
}
.icon-firefighter:before {
  content: "h";
}
.icon-high-voltage:before {
  content: "i";
}
.icon-lethal:before {
  content: "j";
}
.icon-lethal-skull:before {
  content: "k";
}
.icon-nuclear:before {
  content: "l";
}
.icon-police-car:before {
  content: "m";
}
.icon-police-officer:before {
  content: "n";
}
.icon-radioactive:before {
  content: "o";
}
.icon-road-sign:before {
  content: "p";
}
.icon-stop:before {
  content: "q";
}
.icon-warning:before {
  content: "r";
}

@font-face {
  font-family: "arrows-line-icons";
  src:url("../fonts/icon/arrows-line-icons.eot");
  src:url("../fonts/icon/arrows-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/arrows-line-icons.woff") format("woff"),
    url("../fonts/icon/arrows-line-icons.ttf") format("truetype"),
    url("../fonts/icon/arrows-line-icons.svg#arrows-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "arrows-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "arrows-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down-left:before {
  content: "a";
}
.icon-arrow-down-right:before {
  content: "b";
}
.icon-arrow-left-right:before {
  content: "c";
}
.icon-bars-fall:before {
  content: "d";
}
.icon-bars-rise:before {
  content: "e";
}
.icon-double-left:before {
  content: "f";
}
.icon-double-right:before {
  content: "g";
}
.icon-down:before {
  content: "h";
}
.icon-expand-arrows:before {
  content: "i";
}
.icon-expand-top-left-bottom-right:before {
  content: "j";
}
.icon-expand-bottom-left-top-right:before {
  content: "k";
}
.icon-left-line:before {
  content: "l";
}
.icon-left-pointer:before {
  content: "m";
}
.icon-left-button:before {
  content: "n";
}
.icon-merge:before {
  content: "o";
}
.icon-minimize:before {
  content: "p";
}
.icon-network-lines:before {
  content: "q";
}
.icon-network:before {
  content: "r";
}
.icon-right-line:before {
  content: "s";
}
.icon-right-pointer:before {
  content: "t";
}
.icon-right-button:before {
  content: "u";
}
.icon-rotate-left-arrow:before {
  content: "v";
}
.icon-rotate-left:before {
  content: "w";
}
.icon-rotate-left-arrows:before {
  content: "x";
}
.icon-left-rotate:before {
  content: "y";
}
.icon-rotate-left-replay:before {
  content: "z";
}
.icon-rotate-left-half:before {
  content: "A";
}
.icon-rotate-right-arrow:before {
  content: "B";
}
.icon-rotate-right:before {
  content: "C";
}
.icon-rotate-right-arrows:before {
  content: "D";
}
.icon-right-rotate:before {
  content: "E";
}
.icon-rotate-right-replay:before {
  content: "F";
}
.icon-rotate-right-half:before {
  content: "G";
}
.icon-select:before {
  content: "H";
}
.icon-select-all-directions:before {
  content: "I";
}
.icon-seperate:before {
  content: "J";
}
.icon-seperate-split:before {
  content: "K";
}
.icon-shuffle:before {
  content: "L";
}
.icon-u-turn-left:before {
  content: "M";
}
.icon-u-turn-right:before {
  content: "N";
}
.icon-up:before {
  content: "O";
}

@font-face {
  font-family: "babycare-line-icons";
  src:url("../fonts/icon/babycare-line-icons.eot");
  src:url("../fonts/icon/babycare-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/babycare-line-icons.woff") format("woff"),
    url("../fonts/icon/babycare-line-icons.ttf") format("truetype"),
    url("../fonts/icon/babycare-line-icons.svg#babycare-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "babycare-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "babycare-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baby:before {
  content: "a";
}
.icon-bathtub-ducky:before {
  content: "b";
}
.icon-baby-bottle:before {
  content: "c";
}
.icon-bottle:before {
  content: "d";
}
.icon-card-footprint:before {
  content: "e";
}
.icon-crib:before {
  content: "f";
}
.icon-diaper:before {
  content: "g";
}
.icon-footprints:before {
  content: "h";
}
.icon-mobile:before {
  content: "i";
}
.icon-onesie:before {
  content: "j";
}
.icon-pacifier:before {
  content: "k";
}
.icon-pregnancy:before {
  content: "l";
}
.icon-rattle:before {
  content: "m";
}
.icon-safety-pin:before {
  content: "n";
}
.icon-socks:before {
  content: "o";
}
.icon-sperm:before {
  content: "p";
}
.icon-stork:before {
  content: "q";
}
.icon-stork-baby:before {
  content: "r";
}
.icon-stroller:before {
  content: "s";
}
.icon-teddy-bear:before {
  content: "t";
}
@font-face {
  font-family: "badges-line-icons";
  src:url("../fonts/icon/badges-line-icons.eot");
  src:url("../fonts/icon/badges-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/badges-line-icons.woff") format("woff"),
    url("../fonts/icon/badges-line-icons.ttf") format("truetype"),
    url("../fonts/icon/badges-line-icons.svg#badges-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "badges-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "badges-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3-stars:before {
  content: "a";
}
.icon-5-stars:before {
  content: "b";
}
.icon-button:before {
  content: "c";
}
.icon-crown:before {
  content: "d";
}
.icon-flag:before {
  content: "e";
}
.icon-heart:before {
  content: "f";
}
.icon-medal:before {
  content: "g";
}
.icon-thumbs-down:before {
  content: "h";
}
.icon-no:before {
  content: "i";
}
.icon-ribbon-03:before {
  content: "j";
}
.icon-ribbon-04:before {
  content: "k";
}
.icon-star:before {
  content: "l";
}
.icon-trophy:before {
  content: "m";
}
.icon-vote:before {
  content: "n";
}
.icon-thumbs-up:before {
  content: "o";
}
.icon-yes:before {
  content: "p";
}

@font-face {
  font-family: "bookmarks-line-icons";
  src:url("../fonts/icon/bookmarks-line-icons.eot");
  src:url("../fonts/icon/bookmarks-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/bookmarks-line-icons.woff") format("woff"),
    url("../fonts/icon/bookmarks-line-icons.ttf") format("truetype"),
    url("../fonts/icon/bookmarks-line-icons.svg#bookmarks-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bookmarks-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bookmarks-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "a";
}
.icon-arrow-down:before {
  content: "b";
}
.icon-arrow-up:before {
  content: "c";
}
.icon-bookmark-document:before {
  content: "d";
}
.icon-bookmark-ribbon:before {
  content: "e";
}
.icon-bookmark-double-ribbon:before {
  content: "f";
}
.icon-bookmark-edge:before {
  content: "g";
}
.icon-bookmark:before {
  content: "h";
}
.icon-bookmark-page-edge:before {
  content: "i";
}
.icon-cancel:before {
  content: "j";
}
.icon-chart:before {
  content: "k";
}
.icon-document:before {
  content: "l";
}
.icon-edit:before {
  content: "m";
}
.icon-image:before {
  content: "n";
}
.icon-multiple:before {
  content: "o";
}
.icon-remove:before {
  content: "p";
}

@font-face {
  font-family: "chat-line-icons";
  src:url("../fonts/icon/chat-line-icons.eot");
  src:url("../fonts/icon/chat-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/chat-line-icons.woff") format("woff"),
    url("../fonts/icon/chat-line-icons.ttf") format("truetype"),
    url("../fonts/icon/chat-line-icons.svg#chat-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "chat-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "chat-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-message:before {
  content: "a";
}
.icon-envelope:before {
  content: "b";
}
.icon-heart-message:before {
  content: "c";
}
.icon-mail-message:before {
  content: "d";
}
.icon-message:before {
  content: "e";
}
.icon-message-mobile-phone:before {
  content: "f";
}
.icon-message-bubbel-mobile-phone:before {
  content: "g";
}
.icon-message-lines:before {
  content: "h";
}
.icon-message-quotations:before {
  content: "i";
}
.icon-messaging:before {
  content: "j";
}
.icon-messages:before {
  content: "k";
}
.icon-multiple-messages:before {
  content: "l";
}
.icon-open-envelope:before {
  content: "m";
}
.icon-personal-message:before {
  content: "n";
}
.icon-private-message:before {
  content: "o";
}
.icon-screen-messaging:before {
  content: "p";
}
@font-face {
  font-family: "clothes-line-icons";
  src:url("../fonts/icon/clothes-line-icons.eot");
  src:url("../fonts/icon/clothes-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/clothes-line-icons.woff") format("woff"),
    url("../fonts/icon/clothes-line-icons.ttf") format("truetype"),
    url("../fonts/icon/clothes-line-icons.svg#clothes-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "clothes-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "clothes-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ankle-boot:before {
  content: "a";
}
.icon-ballerina:before {
  content: "b";
}
.icon-bathingsuit:before {
  content: "c";
}
.icon-bikini:before {
  content: "d";
}
.icon-blazer:before {
  content: "e";
}
.icon-blouse:before {
  content: "f";
}
.icon-boxers:before {
  content: "g";
}
.icon-bra-panties:before {
  content: "h";
}
.icon-button-up-vest:before {
  content: "i";
}
.icon-cap:before {
  content: "j";
}
.icon-cardigan:before {
  content: "k";
}
.icon-cargo-pants:before {
  content: "l";
}
.icon-dress-buttons:before {
  content: "m";
}
.icon-dress-fitted:before {
  content: "n";
}
.icon-dress-sundress:before {
  content: "o";
}
.icon-gloves:before {
  content: "p";
}
.icon-holster-top:before {
  content: "q";
}
.icon-hoodie:before {
  content: "r";
}
.icon-hoodie-jacket:before {
  content: "s";
}
.icon-long-dress:before {
  content: "t";
}
.icon-long-sleeve-butons-shirt:before {
  content: "u";
}
.icon-long-sleeve-shirt:before {
  content: "v";
}
.icon-longskirt:before {
  content: "w";
}
.icon-pants:before {
  content: "x";
}
.icon-pencil-skirt:before {
  content: "y";
}
.icon-short-skirt:before {
  content: "z";
}
.icon-shorts:before {
  content: "A";
}
.icon-sneakers:before {
  content: "B";
}
.icon-socks:before {
  content: "C";
}
.icon-straps-top:before {
  content: "D";
}
.icon-suit:before {
  content: "E";
}
.icon-summer-hat:before {
  content: "F";
}
.icon-swimming-shorts:before {
  content: "G";
}
.icon-t-shirt:before {
  content: "H";
}
.icon-t-shirt-women:before {
  content: "I";
}
.icon-tank-top-underwear:before {
  content: "J";
}
.icon-thigh-high-boot:before {
  content: "K";
}
.icon-top:before {
  content: "L";
}
.icon-trousers:before {
  content: "M";
}
.icon-uggs:before {
  content: "N";
}
.icon-underwear:before {
  content: "O";
}
.icon-vest:before {
  content: "P";
}
.icon-vneck-t-shirt:before {
  content: "Q";
}
@font-face {
  font-family: "construction-line-icons";
  src:url("../fonts/icon/construction-line-icons.eot");
  src:url("../fonts/icon/construction-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/construction-line-icons.woff") format("woff"),
    url("../fonts/icon/construction-line-icons.ttf") format("truetype"),
    url("../fonts/icon/construction-line-icons.svg#construction-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "construction-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "construction-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blueprint:before {
  content: "a";
}
.icon-cement-mixer:before {
  content: "b";
}
.icon-construction-business-man:before {
  content: "c";
}
.icon-crane:before {
  content: "d";
}
.icon-mobile-crane:before {
  content: "e";
}
.icon-digging-machine:before {
  content: "f";
}
.icon-firehydrant:before {
  content: "g";
}
.icon-gas:before {
  content: "h";
}
.icon-hammer-nail:before {
  content: "i";
}
.icon-hook:before {
  content: "j";
}
.icon-ladder:before {
  content: "k";
}
.icon-paint-bucket:before {
  content: "l";
}
.icon-safety-helmet:before {
  content: "m";
}
.icon-saw:before {
  content: "n";
}
.icon-shovel:before {
  content: "o";
}
.icon-street-cone:before {
  content: "p";
}
.icon-street-sign:before {
  content: "q";
}
.icon-traffic-lights:before {
  content: "r";
}
.icon-truck:before {
  content: "s";
}
.icon-wall:before {
  content: "t";
}
.icon-watertab:before {
  content: "u";
}
.icon-wheelbarrow:before {
  content: "v";
}
@font-face {
  font-family: "easter-line-icons";
  src:url("../fonts/icon/easter-line-icons.eot");
  src:url("../fonts/icon/easter-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/easter-line-icons.woff") format("woff"),
    url("../fonts/icon/easter-line-icons.ttf") format("truetype"),
    url("../fonts/icon/easter-line-icons.svg#easter-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "easter-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "easter-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cake:before {
  content: "a";
}
.icon-calender:before {
  content: "b";
}
.icon-chocolate-rabbit:before {
  content: "c";
}
.icon-decorated-egg:before {
  content: "d";
}
.icon-decorated-egg-circles:before {
  content: "e";
}
.icon-dots-egg:before {
  content: "f";
}
.icon-easter-celebration:before {
  content: "g";
}
.icon-egg-basket:before {
  content: "h";
}
.icon-floral-egg:before {
  content: "i";
}
.icon-hatching-chick:before {
  content: "j";
}
.icon-lines-dots:before {
  content: "k";
}
.icon-horizontal-lines-egg:before {
  content: "l";
}
.icon-vertical-lines-egg:before {
  content: "m";
}
.icon-painting-egg:before {
  content: "n";
}
.icon-rabbit:before {
  content: "o";
}
.icon-zigzag-dots-egg:before {
  content: "p";
}
.icon-zigzag-egg:before {
  content: "q";
}
@font-face {
  font-family: "ecology-line-icons";
  src:url("../fonts/icon/ecology-line-icons.eot");
  src:url("../fonts/icon/ecology-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/ecology-line-icons.woff") format("woff"),
    url("../fonts/icon/ecology-line-icons.ttf") format("truetype"),
    url("../fonts/icon/ecology-line-icons.svg#ecology-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ecology-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ecology-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-electricity-plug:before {
  content: "a";
}
.icon-energy-sufficient-lightbulb:before {
  content: "b";
}
.icon-factory:before {
  content: "c";
}
.icon-leaf:before {
  content: "d";
}
.icon-leaves:before {
  content: "e";
}
.icon-lightbulb:before {
  content: "f";
}
.icon-modern-windmill:before {
  content: "g";
}
.icon-natural-gas:before {
  content: "h";
}
.icon-plant:before {
  content: "i";
}
.icon-recycle:before {
  content: "j";
}
.icon-traditional-windmill:before {
  content: "k";
}
.icon-trash-bag:before {
  content: "l";
}
.icon-park-tree:before {
  content: "m";
}
.icon-tree:before {
  content: "n";
}
.icon-water-bottle:before {
  content: "o";
}
.icon-water-tab:before {
  content: "p";
}
@font-face {
  font-family: "education-line-icons";
  src:url("../fonts/icon/education-line-icons.eot");
  src:url("../fonts/icon/education-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/education-line-icons.woff") format("woff"),
    url("../fonts/icon/education-line-icons.ttf") format("truetype"),
    url("../fonts/icon/education-line-icons.svg#education-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "education-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "education-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abacus:before {
  content: "a";
}
.icon-alphabet-blocks:before {
  content: "b";
}
.icon-apple:before {
  content: "c";
}
.icon-backpack:before {
  content: "d";
}
.icon-biology:before {
  content: "e";
}
.icon-blackboard:before {
  content: "f";
}
.icon-book:before {
  content: "g";
}
.icon-building:before {
  content: "h";
}
.icon-diploma:before {
  content: "i";
}
.icon-geography:before {
  content: "j";
}
.icon-geometry:before {
  content: "k";
}
.icon-geometry-tools:before {
  content: "l";
}
.icon-glasses:before {
  content: "m";
}
.icon-graduate:before {
  content: "n";
}
.icon-graduation-cap:before {
  content: "o";
}
.icon-open-book:before {
  content: "p";
}
.icon-professor:before {
  content: "q";
}
.icon-school-bus:before {
  content: "r";
}
.icon-science:before {
  content: "s";
}
.icon-trophy:before {
  content: "t";
}
@font-face {
  font-family: "emoticons-line-icons";
  src:url("../fonts/icon/emoticons-line-icons.eot");
  src:url("../fonts/icon/emoticons-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/emoticons-line-icons.woff") format("woff"),
    url("../fonts/icon/emoticons-line-icons.ttf") format("truetype"),
    url("../fonts/icon/emoticons-line-icons.svg#emoticons-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "emoticons-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "emoticons-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-05:before {
  content: "a";
}
.icon-angry:before {
  content: "b";
}
.icon-small-blush:before {
  content: "c";
}
.icon-blush:before {
  content: "d";
}
.icon-bored:before {
  content: "e";
}
.icon-confused:before {
  content: "f";
}
.icon-crying:before {
  content: "g";
}
.icon-loud-crying:before {
  content: "h";
}
.icon-determined:before {
  content: "i";
}
.icon-furious:before {
  content: "j";
}
.icon-wide-grin-1:before {
  content: "k";
}
.icon-grin:before {
  content: "l";
}
.icon-in-love:before {
  content: "m";
}
.icon-irritated:before {
  content: "n";
}
.icon-kiss:before {
  content: "o";
}
.icon-modest:before {
  content: "p";
}
.icon-nausous:before {
  content: "q";
}
.icon-nerd:before {
  content: "r";
}
.icon-ninja:before {
  content: "s";
}
.icon-not-telling:before {
  content: "t";
}
.icon-secret:before {
  content: "u";
}
.icon-sad:before {
  content: "v";
}
.icon-sad-tear:before {
  content: "w";
}
.icon-shocked:before {
  content: "x";
}
.icon-skeptical:before {
  content: "y";
}
.icon-smile:before {
  content: "z";
}
.icon-soulpatch:before {
  content: "A";
}
.icon-speechless:before {
  content: "B";
}
.icon-surprised:before {
  content: "C";
}
.icon-surprised-skeptical:before {
  content: "D";
}
.icon-tongue-out:before {
  content: "E";
}
.icon-tongue-out-smile:before {
  content: "F";
}
.icon-wide-grin:before {
  content: "G";
}
.icon-wide-smile:before {
  content: "H";
}
.icon-wink:before {
  content: "I";
}
.icon-large-yawn:before {
  content: "J";
}
.icon-tired-yawn:before {
  content: "K";
}
@font-face {
  font-family: "faces-line-icons";
  src:url("../fonts/icon/faces-line-icons.eot");
  src:url("../fonts/icon/faces-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/faces-line-icons.woff") format("woff"),
    url("../fonts/icon/faces-line-icons.ttf") format("truetype"),
    url("../fonts/icon/faces-line-icons.svg#faces-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "faces-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "faces-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beard:before {
  content: "a";
}
.icon-man:before {
  content: "b";
}
.icon-multiple-users:before {
  content: "c";
}
.icon-moustache:before {
  content: "d";
}
.icon-moustache-hair:before {
  content: "e";
}
.icon-user:before {
  content: "f";
}
.icon-woman:before {
  content: "g";
}

@font-face {
  font-family: "filetypes-line-icons";
  src:url("../fonts/icon/filetypes-line-icons.eot");
  src:url("../fonts/icon/filetypes-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/filetypes-line-icons.woff") format("woff"),
    url("../fonts/icon/filetypes-line-icons.ttf") format("truetype"),
    url("../fonts/icon/filetypes-line-icons.svg#filetypes-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "filetypes-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "filetypes-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai:before {
  content: "a";
}
.icon-avi:before {
  content: "b";
}
.icon-bmp:before {
  content: "c";
}
.icon-doc:before {
  content: "d";
}
.icon-eps:before {
  content: "e";
}
.icon-exe:before {
  content: "f";
}
.icon-gif:before {
  content: "g";
}
.icon-html:before {
  content: "h";
}
.icon-jpg:before {
  content: "i";
}
.icon-mov:before {
  content: "j";
}
.icon-mp3:before {
  content: "k";
}
.icon-pdf:before {
  content: "l";
}
.icon-png:before {
  content: "m";
}
.icon-psd:before {
  content: "n";
}
.icon-rar:before {
  content: "o";
}
.icon-txt:before {
  content: "p";
}
.icon-zip:before {
  content: "q";
}
@font-face {
  font-family: "food-line-icons";
  src:url("../fonts/icon/food-line-icons.eot");
  src:url("../fonts/icon/food-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/food-line-icons.woff") format("woff"),
    url("../fonts/icon/food-line-icons.ttf") format("truetype"),
    url("../fonts/icon/food-line-icons.svg#food-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "food-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "food-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asparagus:before {
  content: "a";
}
.icon-beer:before {
  content: "b";
}
.icon-bread-slices:before {
  content: "c";
}
.icon-chef-hat:before {
  content: "d";
}
.icon-fork:before {
  content: "e";
}
.icon-hamburger:before {
  content: "f";
}
.icon-hot-drink:before {
  content: "g";
}
.icon-hotdog:before {
  content: "h";
}
.icon-ice-cream-cone:before {
  content: "i";
}
.icon-knife:before {
  content: "j";
}
.icon-muffin:before {
  content: "k";
}
.icon-orange:before {
  content: "l";
}
.icon-pear:before {
  content: "m";
}
.icon-pizza-slice:before {
  content: "n";
}
.icon-sode:before {
  content: "o";
}
.icon-spoon:before {
  content: "p";
}
.icon-steak:before {
  content: "q";
}
.icon-wine:before {
  content: "r";
}
@font-face {
  font-family: "gambling-line-icons";
  src:url("../fonts/icon/gambling-line-icons.eot");
  src:url("../fonts/icon/gambling-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/gambling-line-icons.woff") format("woff"),
    url("../fonts/icon/gambling-line-icons.ttf") format("truetype"),
    url("../fonts/icon/gambling-line-icons.svg#gambling-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gambling-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gambling-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ace-of-clubs:before {
  content: "a";
}
.icon-ace-of-diamonds:before {
  content: "b";
}
.icon-ace-of-hearts:before {
  content: "c";
}
.icon-ace-of-spades:before {
  content: "d";
}
.icon-clot-machine:before {
  content: "e";
}
.icon-clover:before {
  content: "f";
}
.icon-club:before {
  content: "g";
}
.icon-dealer:before {
  content: "h";
}
.icon-diamond:before {
  content: "i";
}
.icon-dice:before {
  content: "j";
}
.icon-rolling-dice:before {
  content: "k";
}
.icon-dollar-bill:before {
  content: "l";
}
.icon-domino:before {
  content: "m";
}
.icon-gambling-chip:before {
  content: "n";
}
.icon-playing-chip:before {
  content: "o";
}
.icon-gambling-chip-stack:before {
  content: "p";
}
.icon-heart:before {
  content: "q";
}
.icon-horse-shoe:before {
  content: "r";
}
.icon-number-seven:before {
  content: "s";
}
.icon-playing-cards:before {
  content: "t";
}
.icon-spade:before {
  content: "u";
}
@font-face {
  font-family: "graphic-design-line-icons";
  src:url("../fonts/icon/graphic-design-line-icons.eot");
  src:url("../fonts/icon/graphic-design-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/graphic-design-line-icons.woff") format("woff"),
    url("../fonts/icon/graphic-design-line-icons.ttf") format("truetype"),
    url("../fonts/icon/graphic-design-line-icons.svg#graphic-design-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "graphic-design-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "graphic-design-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paint-brush:before {
  content: "a";
}
.icon-brush:before {
  content: "b";
}
.icon-color-palette:before {
  content: "c";
}
.icon-color-pallette:before {
  content: "d";
}
.icon-crop:before {
  content: "e";
}
.icon-cut:before {
  content: "f";
}
.icon-electronic-drawing-tool:before {
  content: "g";
}
.icon-eraser:before {
  content: "h";
}
.icon-side-eraser:before {
  content: "i";
}
.icon-expand:before {
  content: "j";
}
.icon-expand-box:before {
  content: "k";
}
.icon-eye-correction:before {
  content: "l";
}
.icon-eye-dropper:before {
  content: "m";
}
.icon-image:before {
  content: "n";
}
.icon-lasso:before {
  content: "o";
}
.icon-layers:before {
  content: "p";
}
.icon-lines:before {
  content: "q";
}
.icon-magic-wand:before {
  content: "r";
}
.icon-magicwand:before {
  content: "s";
}
.icon-minimize:before {
  content: "t";
}
.icon-paint-roller-brush:before {
  content: "u";
}
.icon-paintbucket:before {
  content: "v";
}
.icon-pen:before {
  content: "w";
}
.icon-pencil-brush:before {
  content: "x";
}
.icon-printing:before {
  content: "y";
}
.icon-printing-target:before {
  content: "z";
}
.icon-ruler:before {
  content: "A";
}
.icon-select:before {
  content: "B";
}
.icon-slice:before {
  content: "C";
}
.icon-spray-can:before {
  content: "D";
}
.icon-empty-spray-can:before {
  content: "E";
}
.icon-swatches:before {
  content: "F";
}
.icon-target:before {
  content: "G";
}
.icon-text:before {
  content: "H";
}
@font-face {
  font-family: "hierarchy-line-icons";
  src:url("../fonts/icon/hierarchy-line-icons.eot");
  src:url("../fonts/icon/hierarchy-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/hierarchy-line-icons.woff") format("woff"),
    url("../fonts/icon/hierarchy-line-icons.ttf") format("truetype"),
    url("../fonts/icon/hierarchy-line-icons.svg#hierarchy-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hierarchy-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hierarchy-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bold:before {
  content: "a";
}
.icon-italic:before {
  content: "b";
}
.icon-numbered-points:before {
  content: "c";
}
.icon-round-bullet-points:before {
  content: "d";
}
.icon-square-bullet-points:before {
  content: "e";
}
.icon-supervisional-connection-circle:before {
  content: "f";
}
.icon-supervisional-connection-square:before {
  content: "g";
}
.icon-supervisional-connection:before {
  content: "h";
}
.icon-supervisional-connected:before {
  content: "i";
}
.icon-underline:before {
  content: "j";
}
@font-face {
  font-family: "horoscopes-line-icons";
  src:url("../fonts/icon/horoscopes-line-icons.eot");
  src:url("../fonts/icon/horoscopes-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/horoscopes-line-icons.woff") format("woff"),
    url("../fonts/icon/horoscopes-line-icons.ttf") format("truetype"),
    url("../fonts/icon/horoscopes-line-icons.svg#horoscopes-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "horoscopes-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "horoscopes-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aquarius-symbol:before {
  content: "a";
}
.icon-aquarius:before {
  content: "b";
}
.icon-aries-symbol:before {
  content: "c";
}
.icon-aries:before {
  content: "d";
}
.icon-cancer-symbol:before {
  content: "e";
}
.icon-cancer:before {
  content: "f";
}
.icon-capricorn-symbol:before {
  content: "g";
}
.icon-capricorn:before {
  content: "h";
}
.icon-gemini-symbol:before {
  content: "i";
}
.icon-gemini:before {
  content: "j";
}
.icon-leo-symbol:before {
  content: "k";
}
.icon-leo:before {
  content: "l";
}
.icon-libra-symbol:before {
  content: "m";
}
.icon-libra:before {
  content: "n";
}
.icon-pisces-symbol:before {
  content: "o";
}
.icon-pisces:before {
  content: "p";
}
.icon-sagittarius-symbol:before {
  content: "q";
}
.icon-sagittarius:before {
  content: "r";
}
.icon-scorpio-symbol:before {
  content: "s";
}
.icon-scorpio:before {
  content: "t";
}
.icon-taurus-symbol:before {
  content: "u";
}
.icon-taurus:before {
  content: "v";
}
.icon-virgo-symbol:before {
  content: "w";
}
.icon-virgo:before {
  content: "x";
}
@font-face {
  font-family: "law-line-icons";
  src:url("../fonts/icon/law-line-icons.eot");
  src:url("../fonts/icon/law-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/law-line-icons.woff") format("woff"),
    url("../fonts/icon/law-line-icons.ttf") format("truetype"),
    url("../fonts/icon/law-line-icons.svg#law-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "law-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "law-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bongle:before {
  content: "a";
}
.icon-building:before {
  content: "b";
}
.icon-contract:before {
  content: "c";
}
.icon-criminal:before {
  content: "d";
}
.icon-gun:before {
  content: "e";
}
.icon-handcuffs:before {
  content: "f";
}
.icon-investigate:before {
  content: "g";
}
.icon-judge:before {
  content: "h";
}
.icon-law-book:before {
  content: "i";
}
.icon-lawyer-client:before {
  content: "j";
}
.icon-police-officer:before {
  content: "k";
}
.icon-prisoner:before {
  content: "l";
}
.icon-safe:before {
  content: "m";
}
.icon-scale:before {
  content: "n";
}
.icon-suitcase:before {
  content: "o";
}
.icon-swear-oath:before {
  content: "p";
}
@font-face {
  font-family: "medical-line-icons";
  src:url("../fonts/icon/medical-line-icons.eot");
  src:url("../fonts/icon/medical-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/medical-line-icons.woff") format("woff"),
    url("../fonts/icon/medical-line-icons.ttf") format("truetype"),
    url("../fonts/icon/medical-line-icons.svg#medical-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "medical-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "medical-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ambulance:before {
  content: "a";
}
.icon-baby:before {
  content: "b";
}
.icon-bandage:before {
  content: "c";
}
.icon-blood-drop:before {
  content: "d";
}
.icon-dental:before {
  content: "e";
}
.icon-dna:before {
  content: "f";
}
.icon-female:before {
  content: "g";
}
.icon-first-aid-box:before {
  content: "h";
}
.icon-heartrate:before {
  content: "i";
}
.icon-helicopter:before {
  content: "j";
}
.icon-herbal-remedy:before {
  content: "k";
}
.icon-hospital:before {
  content: "l";
}
.icon-hospital-bed:before {
  content: "m";
}
.icon-iv-bag:before {
  content: "n";
}
.icon-male:before {
  content: "o";
}
.icon-medication:before {
  content: "p";
}
.icon-medication-bottle:before {
  content: "q";
}
.icon-microscope:before {
  content: "r";
}
.icon-nurse:before {
  content: "s";
}
.icon-nurse-face:before {
  content: "t";
}
.icon-perscription:before {
  content: "u";
}
.icon-pills:before {
  content: "v";
}
.icon-stethescope:before {
  content: "w";
}
.icon-syringe:before {
  content: "x";
}
.icon-test-tube:before {
  content: "y";
}
.icon-thermometer:before {
  content: "z";
}
.icon-toilet-paper:before {
  content: "A";
}
.icon-wheelchair:before {
  content: "B";
}
@font-face {
  font-family: "multimedia-line-icons";
  src:url("../fonts/icon/multimedia-line-icons.eot");
  src:url("../fonts/icon/multimedia-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/multimedia-line-icons.woff") format("woff"),
    url("../fonts/icon/multimedia-line-icons.ttf") format("truetype"),
    url("../fonts/icon/multimedia-line-icons.svg#multimedia-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "multimedia-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "multimedia-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "a";
}
.icon-android-tablet:before {
  content: "b";
}
.icon-batery-medium:before {
  content: "c";
}
.icon-battery-empty:before {
  content: "d";
}
.icon-battery-full:before {
  content: "e";
}
.icon-battery-low:before {
  content: "f";
}
.icon-battery-medium:before {
  content: "g";
}
.icon-cd-dvd:before {
  content: "h";
}
.icon-computer-screen:before {
  content: "i";
}
.icon-television-screen:before {
  content: "j";
}
.icon-cursor:before {
  content: "k";
}
.icon-fast-forward:before {
  content: "l";
}
.icon-game-controller:before {
  content: "m";
}
.icon-headset:before {
  content: "n";
}
.icon-house-phone:before {
  content: "o";
}
.icon-ipad:before {
  content: "p";
}
.icon-iphone:before {
  content: "q";
}
.icon-magnifier:before {
  content: "r";
}
.icon-microphone:before {
  content: "s";
}
.icon-mobile-phone:before {
  content: "t";
}
.icon-mobile-phone-vibrate:before {
  content: "u";
}
.icon-music:before {
  content: "v";
}
.icon-next:before {
  content: "w";
}
.icon-pause:before {
  content: "x";
}
.icon-play:before {
  content: "y";
}
.icon-previous:before {
  content: "z";
}
.icon-printer:before {
  content: "A";
}
.icon-rewind:before {
  content: "B";
}
.icon-screen-rotate:before {
  content: "C";
}
.icon-screen-rotation:before {
  content: "D";
}
.icon-server-sharing:before {
  content: "E";
}
.icon-settings-audio:before {
  content: "F";
}
.icon-stop:before {
  content: "G";
}
.icon-tablet:before {
  content: "H";
}
.icon-wide-tablet:before {
  content: "I";
}
.icon-usb:before {
  content: "J";
}
.icon-usb-stick:before {
  content: "K";
}
.icon-wireless-connection:before {
  content: "L";
}
.icon-zoom-in:before {
  content: "M";
}
.icon-zoom-out:before {
  content: "N";
}
@font-face {
  font-family: "nature-line-icons";
  src:url("../fonts/icon/nature-line-icons.eot");
  src:url("../fonts/icon/nature-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/nature-line-icons.woff") format("woff"),
    url("../fonts/icon/nature-line-icons.ttf") format("truetype"),
    url("../fonts/icon/nature-line-icons.svg#nature-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nature-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "nature-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-birds:before {
  content: "a";
}
.icon-bug:before {
  content: "b";
}
.icon-butterfly:before {
  content: "c";
}
.icon-cactus:before {
  content: "d";
}
.icon-fish:before {
  content: "e";
}
.icon-flower:before {
  content: "f";
}
.icon-mountain:before {
  content: "g";
}
.icon-squirrel:before {
  content: "h";
}
.icon-tent:before {
  content: "i";
}
.icon-oak-tree:before {
  content: "j";
}
.icon-park-tree:before {
  content: "k";
}
.icon-tree:before {
  content: "l";
}
.icon-forest-tree:before {
  content: "m";
}
.icon-trees:before {
  content: "n";
}
@font-face {
  font-family: "numbers-line-icons";
  src:url("../fonts/icon/numbers-line-icons.eot");
  src:url("../fonts/icon/numbers-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/numbers-line-icons.woff") format("woff"),
    url("../fonts/icon/numbers-line-icons.ttf") format("truetype"),
    url("../fonts/icon/numbers-line-icons.svg#numbers-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "numbers-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "numbers-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eight-08:before {
  content: "a";
}
.icon-eight:before {
  content: "b";
}
.icon-eighty:before {
  content: "c";
}
.icon-fifty:before {
  content: "d";
}
.icon-five-05:before {
  content: "e";
}
.icon-five:before {
  content: "f";
}
.icon-forty:before {
  content: "g";
}
.icon-four-04:before {
  content: "h";
}
.icon-four:before {
  content: "i";
}
.icon-hundred:before {
  content: "j";
}
.icon-nine-09:before {
  content: "k";
}
.icon-nine:before {
  content: "l";
}
.icon-ninety:before {
  content: "m";
}
.icon-one-01:before {
  content: "n";
}
.icon-one:before {
  content: "o";
}
.icon-seven-07:before {
  content: "p";
}
.icon-seven:before {
  content: "q";
}
.icon-seventy:before {
  content: "r";
}
.icon-six-06:before {
  content: "s";
}
.icon-six:before {
  content: "t";
}
.icon-sixty:before {
  content: "u";
}
.icon-ten-10:before {
  content: "v";
}
.icon-ten:before {
  content: "w";
}
.icon-thirty:before {
  content: "x";
}
.icon-three-03:before {
  content: "y";
}
.icon-three:before {
  content: "z";
}
.icon-twenty:before {
  content: "A";
}
.icon-two-02:before {
  content: "B";
}
.icon-two:before {
  content: "C";
}
@font-face {
  font-family: "office-line-icons";
  src:url("../fonts/icon/office-line-icons.eot");
  src:url("../fonts/icon/office-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/office-line-icons.woff") format("woff"),
    url("../fonts/icon/office-line-icons.ttf") format("truetype"),
    url("../fonts/icon/office-line-icons.svg#office-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "office-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "office-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars-chart:before {
  content: "a";
}
.icon-binder:before {
  content: "b";
}
.icon-block:before {
  content: "c";
}
.icon-carton-box:before {
  content: "d";
}
.icon-box:before {
  content: "e";
}
.icon-calculate:before {
  content: "f";
}
.icon-calculator:before {
  content: "g";
}
.icon-camera:before {
  content: "h";
}
.icon-camera-image:before {
  content: "i";
}
.icon-cancel:before {
  content: "j";
}
.icon-checklist:before {
  content: "k";
}
.icon-clock:before {
  content: "l";
}
.icon-clock-round:before {
  content: "m";
}
.icon-clock-lines:before {
  content: "n";
}
.icon-cloud:before {
  content: "o";
}
.icon-computer-mouse:before {
  content: "p";
}
.icon-confirm:before {
  content: "q";
}
.icon-download:before {
  content: "r";
}
.icon-download-cloud:before {
  content: "s";
}
.icon-export:before {
  content: "t";
}
.icon-filing-cabinett:before {
  content: "u";
}
.icon-floppydisk-save:before {
  content: "v";
}
.icon-folder-sorted:before {
  content: "w";
}
.icon-folder:before {
  content: "x";
}
.icon-hierarchy:before {
  content: "y";
}
.icon-high-volume:before {
  content: "z";
}
.icon-home:before {
  content: "A";
}
.icon-identification:before {
  content: "B";
}
.icon-image:before {
  content: "C";
}
.icon-image-document:before {
  content: "D";
}
.icon-import:before {
  content: "E";
}
.icon-information:before {
  content: "F";
}
.icon-lines-chart:before {
  content: "G";
}
.icon-low-volume:before {
  content: "H";
}
.icon-marker:before {
  content: "I";
}
.icon-medium-volume:before {
  content: "J";
}
.icon-minus:before {
  content: "K";
}
.icon-no-volume:before {
  content: "L";
}
.icon-open-organizer:before {
  content: "M";
}
.icon-paperclip:before {
  content: "N";
}
.icon-paperclip-papers:before {
  content: "O";
}
.icon-papertray:before {
  content: "P";
}
.icon-papertrays:before {
  content: "Q";
}
.icon-pen:before {
  content: "R";
}
.icon-pen-paper:before {
  content: "S";
}
.icon-pencil:before {
  content: "T";
}
.icon-pie-chart:before {
  content: "U";
}
.icon-pin:before {
  content: "V";
}
.icon-pinned-paper:before {
  content: "W";
}
.icon-presentation:before {
  content: "X";
}
.icon-question-mark:before {
  content: "Y";
}
.icon-quotations:before {
  content: "Z";
}
.icon-end-quotations:before {
  content: "0";
}
.icon-stamp:before {
  content: "1";
}
.icon-suitcase:before {
  content: "2";
}
.icon-textbook:before {
  content: "3";
}
.icon-trash:before {
  content: "4";
}
.icon-upload:before {
  content: "5";
}
.icon-upload-box:before {
  content: "6";
}
.icon-upload-cloud:before {
  content: "7";
}
.icon-video-camera:before {
  content: "8";
}
@font-face {
  font-family: "party-line-icons";
  src:url("../fonts/icon/party-line-icons.eot");
  src:url("../fonts/icon/party-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/party-line-icons.woff") format("woff"),
    url("../fonts/icon/party-line-icons.ttf") format("truetype"),
    url("../fonts/icon/party-line-icons.svg#party-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "party-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "party-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-balloon:before {
  content: "a";
}
.icon-birthday-cake:before {
  content: "b";
}
.icon-champagne:before {
  content: "c";
}
.icon-cupcake:before {
  content: "d";
}
.icon-decoration:before {
  content: "e";
}
.icon-fireworks:before {
  content: "f";
}
.icon-flower:before {
  content: "g";
}
.icon-guitar:before {
  content: "h";
}
.icon-heart-balloons:before {
  content: "i";
}
.icon-party-hat:before {
  content: "j";
}
.icon-record-player:before {
  content: "k";
}
@font-face {
  font-family: "pets-line-icons";
  src:url("../fonts/icon/pets-line-icons.eot");
  src:url("../fonts/icon/pets-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/pets-line-icons.woff") format("woff"),
    url("../fonts/icon/pets-line-icons.ttf") format("truetype"),
    url("../fonts/icon/pets-line-icons.svg#pets-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pets-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pets-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fishbowl:before {
  content: "a";
}
.icon-ball:before {
  content: "b";
}
.icon-bed:before {
  content: "c";
}
.icon-bird:before {
  content: "d";
}
.icon-birdcage:before {
  content: "e";
}
.icon-bone:before {
  content: "f";
}
.icon-carrier:before {
  content: "g";
}
.icon-cat:before {
  content: "h";
}
.icon-collar:before {
  content: "i";
}
.icon-dog:before {
  content: "j";
}
.icon-dog-house:before {
  content: "k";
}
.icon-cat-food-bowl:before {
  content: "l";
}
.icon-food-bowl:before {
  content: "m";
}
.icon-hamseter:before {
  content: "n";
}
.icon-leash:before {
  content: "o";
}
.icon-pawprint:before {
  content: "p";
}
.icon-poop:before {
  content: "q";
}
.icon-rabbit:before {
  content: "r";
}
.icon-rat:before {
  content: "s";
}
.icon-scratch-post:before {
  content: "t";
}
.icon-turtle:before {
  content: "u";
}
.icon-walking-dog:before {
  content: "v";
}
@font-face {
  font-family: "real-estate-line-icons";
  src:url("../fonts/icon/real-estate-line-icons.eot");
  src:url("../fonts/icon/real-estate-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/real-estate-line-icons.woff") format("woff"),
    url("../fonts/icon/real-estate-line-icons.ttf") format("truetype"),
    url("../fonts/icon/real-estate-line-icons.svg#real-estate-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "real-estate-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "real-estate-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-agreement:before {
  content: "a";
}
.icon-bed:before {
  content: "b";
}
.icon-buildings:before {
  content: "c";
}
.icon-chair-lamp:before {
  content: "d";
}
.icon-couch:before {
  content: "e";
}
.icon-desk:before {
  content: "f";
}
.icon-house:before {
  content: "g";
}
.icon-house-tag:before {
  content: "h";
}
.icon-key:before {
  content: "i";
}
.icon-moving:before {
  content: "j";
}
.icon-open-door:before {
  content: "k";
}
.icon-search-house:before {
  content: "l";
}
.icon-shower:before {
  content: "m";
}
.icon-sign:before {
  content: "n";
}
.icon-stove:before {
  content: "o";
}
.icon-toilet:before {
  content: "p";
}
@font-face {
  font-family: "seo-line-icons";
  src:url("../fonts/icon/seo-line-icons.eot");
  src:url("../fonts/icon/seo-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/seo-line-icons.woff") format("woff"),
    url("../fonts/icon/seo-line-icons.ttf") format("truetype"),
    url("../fonts/icon/seo-line-icons.svg#seo-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "seo-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "seo-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-announcement:before {
  content: "a";
}
.icon-bookmark-window:before {
  content: "b";
}
.icon-calender:before {
  content: "c";
}
.icon-calender-lines:before {
  content: "d";
}
.icon-cloud:before {
  content: "e";
}
.icon-code:before {
  content: "f";
}
.icon-crown:before {
  content: "g";
}
.icon-customer-support:before {
  content: "h";
}
.icon-direction-cursor:before {
  content: "i";
}
.icon-directions-post:before {
  content: "j";
}
.icon-house-phone:before {
  content: "k";
}
.icon-incoming-call:before {
  content: "l";
}
.icon-link:before {
  content: "m";
}
.icon-lock:before {
  content: "n";
}
.icon-map:before {
  content: "o";
}
.icon-mobile-phone-message:before {
  content: "p";
}
.icon-mobile-phone-screen:before {
  content: "q";
}
.icon-mobile-phone-text:before {
  content: "r";
}
.icon-money-bag:before {
  content: "s";
}
.icon-navigation:before {
  content: "t";
}
.icon-navigation-indicator-round:before {
  content: "u";
}
.icon-navigation-indicator:before {
  content: "v";
}
.icon-office-worker:before {
  content: "w";
}
.icon-outgoing-call:before {
  content: "x";
}
.icon-pause:before {
  content: "y";
}
.icon-phone-headset:before {
  content: "z";
}
.icon-phone-volume:before {
  content: "A";
}
.icon-play:before {
  content: "B";
}
.icon-presentation:before {
  content: "C";
}
.icon-ribbon:before {
  content: "D";
}
.icon-screen:before {
  content: "E";
}
.icon-search:before {
  content: "F";
}
.icon-settings:before {
  content: "G";
}
.icon-settings-document:before {
  content: "H";
}
.icon-settings-window:before {
  content: "I";
}
.icon-stop:before {
  content: "J";
}
.icon-target:before {
  content: "K";
}
.icon-test-tube:before {
  content: "L";
}
.icon-tie:before {
  content: "M";
}
.icon-unlock:before {
  content: "N";
}
.icon-value:before {
  content: "O";
}
.icon-visual:before {
  content: "P";
}
@font-face {
  font-family: "shopping-line-icons";
  src:url("../fonts/icon/shopping-line-icons.eot");
  src:url("../fonts/icon/shopping-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/shopping-line-icons.woff") format("woff"),
    url("../fonts/icon/shopping-line-icons.ttf") format("truetype"),
    url("../fonts/icon/shopping-line-icons.svg#shopping-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "shopping-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "shopping-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-atm-machine:before {
  content: "a";
}
.icon-barcode:before {
  content: "b";
}
.icon-basket:before {
  content: "c";
}
.icon-bathrooms:before {
  content: "d";
}
.icon-box-taped:before {
  content: "e";
}
.icon-box:before {
  content: "f";
}
.icon-cashier:before {
  content: "g";
}
.icon-clothing:before {
  content: "h";
}
.icon-clothing-hanger:before {
  content: "i";
}
.icon-creditcard:before {
  content: "j";
}
.icon-delivery-truck:before {
  content: "k";
}
.icon-dollar-bill:before {
  content: "l";
}
.icon-dollar-coin:before {
  content: "m";
}
.icon-kart:before {
  content: "n";
}
.icon-offers-board:before {
  content: "o";
}
.icon-perfume:before {
  content: "p";
}
.icon-pin-machine:before {
  content: "q";
}
.icon-present:before {
  content: "r";
}
.icon-security-camera:before {
  content: "s";
}
.icon-shoewear:before {
  content: "t";
}
.icon-shopping-paper-bag:before {
  content: "u";
}
.icon-shopping-bag:before {
  content: "v";
}
.icon-store:before {
  content: "w";
}
.icon-sun:before {
  content: "x";
}
.icon-tag:before {
  content: "y";
}
.icon-tag-lines:before {
  content: "z";
}
.icon-wallet:before {
  content: "A";
}
@font-face {
  font-family: "smoking-line-icons";
  src:url("../fonts/icon/smoking-line-icons.eot");
  src:url("../fonts/icon/smoking-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/smoking-line-icons.woff") format("woff"),
    url("../fonts/icon/smoking-line-icons.ttf") format("truetype"),
    url("../fonts/icon/smoking-line-icons.svg#smoking-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "smoking-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "smoking-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cigarette:before {
  content: "a";
}
.icon-lighter:before {
  content: "b";
}
.icon-lips-smoking:before {
  content: "c";
}
.icon-lungs:before {
  content: "d";
}
.icon-marijuana:before {
  content: "e";
}
.icon-matchstick:before {
  content: "f";
}
.icon-pipe:before {
  content: "g";
}
.icon-quit-smoking:before {
  content: "h";
}
.icon-waterpipe:before {
  content: "i";
}
@font-face {
  font-family: "space-line-icons";
  src:url("../fonts/icon/space-line-icons.eot");
  src:url("../fonts/icon/space-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/space-line-icons.woff") format("woff"),
    url("../fonts/icon/space-line-icons.ttf") format("truetype"),
    url("../fonts/icon/space-line-icons.svg#space-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "space-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "space-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alien:before {
  content: "a";
}
.icon-alien-head:before {
  content: "b";
}
.icon-cute-alien:before {
  content: "c";
}
.icon-meteor:before {
  content: "d";
}
.icon-moon:before {
  content: "e";
}
.icon-planet:before {
  content: "f";
}
.icon-rocket:before {
  content: "g";
}
.icon-space-rocket:before {
  content: "h";
}
.icon-satellite:before {
  content: "i";
}
.icon-communication-satellite:before {
  content: "j";
}
.icon-shooting-star:before {
  content: "k";
}
.icon-alien-abduction:before {
  content: "l";
}
.icon-alien-spaceship:before {
  content: "m";
}
.icon-sun:before {
  content: "n";
}
.icon-telescope:before {
  content: "o";
}
@font-face {
  font-family: "sports-line-icons";
  src:url("../fonts/icon/sports-line-icons.eot");
  src:url("../fonts/icon/sports-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/sports-line-icons.woff") format("woff"),
    url("../fonts/icon/sports-line-icons.ttf") format("truetype"),
    url("../fonts/icon/sports-line-icons.svg#sports-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sports-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sports-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baseball:before {
  content: "a";
}
.icon-basket:before {
  content: "b";
}
.icon-basketball:before {
  content: "c";
}
.icon-billiard-ball:before {
  content: "d";
}
.icon-billiard-pins:before {
  content: "e";
}
.icon-billiard-table:before {
  content: "f";
}
.icon-bowling-ball:before {
  content: "g";
}
.icon-football:before {
  content: "h";
}
.icon-goal:before {
  content: "i";
}
.icon-golf:before {
  content: "j";
}
.icon-golf-club:before {
  content: "k";
}
.icon-lifting-weights:before {
  content: "l";
}
.icon-muscles:before {
  content: "m";
}
.icon-net:before {
  content: "n";
}
.icon-racket:before {
  content: "o";
}
.icon-soccer:before {
  content: "p";
}
.icon-tennis:before {
  content: "q";
}
.icon-volleyball:before {
  content: "r";
}
@font-face {
  font-family: "sweets-drinks-line-icons";
  src:url("../fonts/icon/sweets-drinks-line-icons.eot");
  src:url("../fonts/icon/sweets-drinks-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/sweets-drinks-line-icons.woff") format("woff"),
    url("../fonts/icon/sweets-drinks-line-icons.ttf") format("truetype"),
    url("../fonts/icon/sweets-drinks-line-icons.svg#sweets-drinks-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sweets-drinks-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sweets-drinks-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cake-cherries:before {
  content: "a";
}
.icon-candy:before {
  content: "b";
}
.icon-cookie:before {
  content: "c";
}
.icon-cupcake:before {
  content: "d";
}
.icon-cupcake-icing:before {
  content: "e";
}
.icon-ice-cream:before {
  content: "f";
}
.icon-ice-cream-bowl:before {
  content: "g";
}
.icon-ice-cream-cone:before {
  content: "h";
}
.icon-ice-cream-stick:before {
  content: "i";
}
.icon-lollipop:before {
  content: "j";
}
.icon-rocket-ice-cream:before {
  content: "k";
}
.icon-tea:before {
  content: "l";
}
.icon-water-heater-kettle:before {
  content: "m";
}
.icon-water-kettle:before {
  content: "n";
}
@font-face {
  font-family: "technology-line-icons";
  src:url("../fonts/icon/technology-line-icons.eot");
  src:url("../fonts/icon/technology-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/technology-line-icons.woff") format("woff"),
    url("../fonts/icon/technology-line-icons.ttf") format("truetype"),
    url("../fonts/icon/technology-line-icons.svg#technology-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "technology-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "technology-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wi-fi:before {
  content: "a";
}
.icon-memory-card:before {
  content: "b";
}
.icon-message-exchange:before {
  content: "c";
}
.icon-mobile-phone:before {
  content: "d";
}
.icon-modem-internet:before {
  content: "e";
}
.icon-network:before {
  content: "f";
}
.icon-radar:before {
  content: "g";
}
.icon-remote-control:before {
  content: "h";
}
.icon-satellite-connection:before {
  content: "i";
}
.icon-screen-exchange:before {
  content: "j";
}
.icon-server:before {
  content: "k";
}
.icon-server-sharing-screen:before {
  content: "l";
}
.icon-server-sharing:before {
  content: "m";
}
.icon-settings:before {
  content: "n";
}
.icon-settings-bolts:before {
  content: "o";
}
.icon-usb-stick:before {
  content: "p";
}
.icon-webcam:before {
  content: "q";
}
.icon-wireless-connection:before {
  content: "r";
}
@font-face {
  font-family: "touchgestures-line-icons";
  src:url("../fonts/icon/touchgestures-line-icons.eot");
  src:url("../fonts/icon/touchgestures-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/touchgestures-line-icons.woff") format("woff"),
    url("../fonts/icon/touchgestures-line-icons.ttf") format("truetype"),
    url("../fonts/icon/touchgestures-line-icons.svg#touchgestures-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "touchgestures-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "touchgestures-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-double-tap-two-finger:before {
  content: "a";
}
.icon-double-tap:before {
  content: "b";
}
.icon-two-finger-double-tap:before {
  content: "c";
}
.icon-drag-down:before {
  content: "d";
}
.icon-drag-left:before {
  content: "e";
}
.icon-move-left:before {
  content: "f";
}
.icon-drag-move:before {
  content: "g";
}
.icon-move-right:before {
  content: "h";
}
.icon-drag-right:before {
  content: "i";
}
.icon-drag-up:before {
  content: "j";
}
.icon-move-left-two-finger:before {
  content: "k";
}
.icon-swipe-left-one-finger:before {
  content: "l";
}
.icon-move-right-two-finger:before {
  content: "m";
}
.icon-move-right-one-finger:before {
  content: "n";
}
.icon-rotate-left:before {
  content: "o";
}
.icon-rotate-right:before {
  content: "p";
}
.icon-scroll-left-right:before {
  content: "q";
}
.icon-swipe-left:before {
  content: "r";
}
.icon-swipe-right:before {
  content: "s";
}
.icon-tap-two-finger:before {
  content: "t";
}
.icon-tap:before {
  content: "u";
}
.icon-two-finger-tap:before {
  content: "v";
}
.icon-zoom-in:before {
  content: "w";
}
.icon-zoom-out:before {
  content: "x";
}
@font-face {
  font-family: "toys-line-icons";
  src:url("../fonts/icon/toys-line-icons.eot");
  src:url("../fonts/icon/toys-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/toys-line-icons.woff") format("woff"),
    url("../fonts/icon/toys-line-icons.ttf") format("truetype"),
    url("../fonts/icon/toys-line-icons.svg#toys-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "toys-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "toys-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barbie:before {
  content: "a";
}
.icon-blowing-bubbles:before {
  content: "b";
}
.icon-bowling-bin-ball:before {
  content: "c";
}
.icon-building-blocks:before {
  content: "d";
}
.icon-chess-king:before {
  content: "e";
}
.icon-chess-pawn:before {
  content: "f";
}
.icon-doll-house:before {
  content: "g";
}
.icon-leggo:before {
  content: "h";
}
.icon-leggo-pieces:before {
  content: "i";
}
.icon-puzzle:before {
  content: "j";
}
.icon-scooter:before {
  content: "k";
}
.icon-skateboard:before {
  content: "l";
}
.icon-water-gun:before {
  content: "m";
}
@font-face {
  font-family: "transportation-line-icons";
  src:url("../fonts/icon/transportation-line-icons.eot");
  src:url("../fonts/icon/transportation-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/transportation-line-icons.woff") format("woff"),
    url("../fonts/icon/transportation-line-icons.ttf") format("truetype"),
    url("../fonts/icon/transportation-line-icons.svg#transportation-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "transportation-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "transportation-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchor:before {
  content: "a";
}
.icon-beachball:before {
  content: "b";
}
.icon-bed:before {
  content: "c";
}
.icon-bicycle:before {
  content: "d";
}
.icon-bikini:before {
  content: "e";
}
.icon-bus:before {
  content: "f";
}
.icon-car-front:before {
  content: "g";
}
.icon-car:before {
  content: "h";
}
.icon-cocktail:before {
  content: "i";
}
.icon-directions-post:before {
  content: "j";
}
.icon-duffel-bag:before {
  content: "k";
}
.icon-fork-knife-cutlery:before {
  content: "l";
}
.icon-passport:before {
  content: "m";
}
.icon-plane:before {
  content: "n";
}
.icon-plane-ticket:before {
  content: "o";
}
.icon-postcard:before {
  content: "p";
}
.icon-ship:before {
  content: "q";
}
.icon-slippers:before {
  content: "r";
}
.icon-suitcase:before {
  content: "s";
}
.icon-sunscreen:before {
  content: "t";
}
.icon-train:before {
  content: "u";
}
@font-face {
  font-family: "valentine-line-icons";
  src:url("../fonts/icon/valentine-line-icons.eot");
  src:url("../fonts/icon/valentine-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/valentine-line-icons.woff") format("woff"),
    url("../fonts/icon/valentine-line-icons.ttf") format("truetype"),
    url("../fonts/icon/valentine-line-icons.svg#valentine-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "valentine-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "valentine-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-shooting-heart:before {
  content: "a";
}
.icon-bandaged-heart:before {
  content: "b";
}
.icon-bow-and-arrow:before {
  content: "c";
}
.icon-broken-heart:before {
  content: "d";
}
.icon-champagne-toast:before {
  content: "e";
}
.icon-chocolate-bar:before {
  content: "f";
}
.icon-devil-heart:before {
  content: "g";
}
.icon-flower:before {
  content: "h";
}
.icon-heart:before {
  content: "i";
}
.icon-heart-balloon:before {
  content: "j";
}
.icon-heart-glasses:before {
  content: "k";
}
.icon-heart-key:before {
  content: "l";
}
.icon-heart-mail:before {
  content: "m";
}
.icon-heart-message-mobile-phone:before {
  content: "n";
}
.icon-heart-messaging:before {
  content: "o";
}
.icon-heart-music:before {
  content: "p";
}
.icon-heart-necklace:before {
  content: "q";
}
.icon-heart-present:before {
  content: "r";
}
.icon-heart-search:before {
  content: "s";
}
.icon-heart-strings:before {
  content: "t";
}
.icon-heart-teddy-bear:before {
  content: "u";
}
.icon-heart-wine-bottle:before {
  content: "v";
}
.icon-hearts:before {
  content: "w";
}
.icon-kiss:before {
  content: "x";
}
.icon-lips:before {
  content: "y";
}
.icon-man-man-relationship:before {
  content: "z";
}
.icon-man-woman-relationship:before {
  content: "A";
}
.icon-marriage:before {
  content: "B";
}
.icon-rose:before {
  content: "C";
}
.icon-woman-woman-relationship:before {
  content: "D";
}
.icon-wrapped-heart:before {
  content: "E";
}
@font-face {
  font-family: "warning-signs-line-icons";
  src:url("../fonts/icon/warning-signs-line-icons.eot");
  src:url("../fonts/icon/warning-signs-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/warning-signs-line-icons.woff") format("woff"),
    url("../fonts/icon/warning-signs-line-icons.ttf") format("truetype"),
    url("../fonts/icon/warning-signs-line-icons.svg#warning-signs-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "warning-signs-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "warning-signs-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-no-alcohol-drinks:before {
  content: "a";
}
.icon-no-cars:before {
  content: "b";
}
.icon-no-cycling:before {
  content: "c";
}
.icon-no-discrimination:before {
  content: "d";
}
.icon-no-fishing:before {
  content: "e";
}
.icon-no-flame:before {
  content: "f";
}
.icon-no-food-and-drinks:before {
  content: "g";
}
.icon-no-gun:before {
  content: "h";
}
.icon-no-honking:before {
  content: "i";
}
.icon-no-ice-cream:before {
  content: "j";
}
.icon-no-mobile-phone:before {
  content: "k";
}
.icon-no-music:before {
  content: "l";
}
.icon-no-parking:before {
  content: "m";
}
.icon-no-passage:before {
  content: "n";
}
.icon-no-pets:before {
  content: "o";
}
.icon-no-photography:before {
  content: "p";
}
.icon-no-skate:before {
  content: "q";
}
.icon-no-smoking:before {
  content: "r";
}
.icon-no-swimming:before {
  content: "s";
}
.icon-no-trucks:before {
  content: "t";
}
.icon-no-water-tap:before {
  content: "u";
}
.icon-warning-sign:before {
  content: "v";
}
@font-face {
  font-family: "weather-line-icons";
  src:url("../fonts/icon/weather-line-icons.eot");
  src:url("../fonts/icon/weather-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/weather-line-icons.woff") format("woff"),
    url("../fonts/icon/weather-line-icons.ttf") format("truetype"),
    url("../fonts/icon/weather-line-icons.svg#weather-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "weather-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "weather-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-umbrella-1:before {
  content: "a";
}
.icon-celcius-themometer:before {
  content: "b";
}
.icon-cloudy:before {
  content: "c";
}
.icon-lightening-storm-1:before {
  content: "d";
}
.icon-lightening:before {
  content: "e";
}
.icon-lightening-storm:before {
  content: "f";
}
.icon-moon:before {
  content: "g";
}
.icon-partly-cloudy:before {
  content: "h";
}
.icon-rain-cloud:before {
  content: "i";
}
.icon-rain:before {
  content: "j";
}
.icon-rain-umbrella:before {
  content: "k";
}
.icon-snowflake:before {
  content: "l";
}
.icon-thermometer:before {
  content: "m";
}
.icon-umbrella:before {
  content: "n";
}
.icon-waterdrop:before {
  content: "o";
}
font-face {
  font-family: "wellness-line-icons";
  src:url("../fonts/icon/wellness-line-icons.eot");
  src:url("../fonts/icon/wellness-line-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon/wellness-line-icons.woff") format("woff"),
    url("../fonts/icon/wellness-line-icons.ttf") format("truetype"),
    url("../fonts/icon/wellness-line-icons.svg#wellness-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "wellness-line-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "wellness-line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bamboo:before {
  content: "a";
}
.icon-bathrobe:before {
  content: "b";
}
.icon-candles:before {
  content: "c";
}
.icon-cream:before {
  content: "d";
}
.icon-curled-hair:before {
  content: "e";
}
.icon-cutting-hair:before {
  content: "f";
}
.icon-face-mask:before {
  content: "g";
}
.icon-flower:before {
  content: "h";
}
.icon-flower-lotus:before {
  content: "i";
}
.icon-hairdresser:before {
  content: "j";
}
.icon-hairdryer:before {
  content: "k";
}
.icon-lipstick:before {
  content: "l";
}
.icon-lotus-flower:before {
  content: "m";
}
.icon-manicure:before {
  content: "n";
}
.icon-mascara:before {
  content: "o";
}
.icon-massage:before {
  content: "p";
}
.icon-massage-stones:before {
  content: "q";
}
.icon-mirror:before {
  content: "r";
}
.icon-nailpolish:before {
  content: "s";
}
.icon-om:before {
  content: "t";
}
.icon-pedicure:before {
  content: "u";
}
.icon-shower:before {
  content: "v";
}
.icon-slippers:before {
  content: "w";
}
.icon-slippers-fluffy:before {
  content: "x";
}
.icon-straightened-hair:before {
  content: "y";
}
.icon-towel:before {
  content: "z";
}
.icon-washing-hair:before {
  content: "A";
}
.icon-water-drop:before {
  content: "B";
}
