body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #FFFFFF;
		-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}
.container-box {
/*	padding-right: 3%;
	padding-left: 3%;*/
}
.row {
	margin-right: 0;
	margin-left: 0;
}
h2 {
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
}
.desktop_header{
	display:block;		
}
.mobile_header{
	display:none;		
}
.desktop_tab {
	display: block;
}
.mobile_tab {
	display: none;
}
#header {
	border: 0px solid #ccc;
	position: absolute;
	z-index: 99;
	left: 0;
	right: 0;
}
.headertop {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 999;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 15px;
	padding-bottom: 15px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.headerbottom {
	position: relative;
	top: 50px;
	padding-left: 3%;
	padding-right: 3%;
}
.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 999;
	background: rgba(147, 185, 36,1);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.top_info {
	text-align: right;
}
.top_info ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.top_info ul li {
	display: inline-block;
	vertical-align: top;
	padding: 5px 16px;
	margin-left: 5px;
	font-size: 20px;
}
.top_info ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
.re_demo {
	display: block;
	border: 1px solid #fff;
	padding: 10px 30px;
	border-radius: 10px;
}
.re_demo:hover {
	background-color: #93B924;
	border-color: #93B924;
}
span.flag {
	background-image: url('../images/flag.jpg');
	padding: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0px;
	margin: 0 5px 0 0px;
}
.headerbottom {
/*	margin: 0;
	padding: 0;*/
}
.headerbottom .logobox {
	display: inline-block;
	vertical-align: top;
	width: 29%;
	border: 0px solid;
	height: 80px;
	font-size: 40px;
	color: #fff;
	line-height: 1;
	padding: 7px 0;
}
.logobox span {
	font-size: 40%;
	display: block;
	font-weight: 300;
	text-align: right;
}
.headerbottom .navbox {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	border: 0px solid;
	height: 80px;
	text-align: right;
	padding: 5px 0px;
}
nav.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav.mainmenu ul li {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	margin-left: 15px;
	font-size: 18px;
	font-weight: 300;
}
nav.mainmenu ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
nav.mainmenu ul li a:hover {
	color: #93B924;
}
.section_1 {
	border: 0px solid #ccc;
	position: relative;
}
.section_1 img {
	width: 100%;
	border: 0;
}
.banner_box {
    display: table;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 900px;
}
.bnr_contant_box {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.0);
    right: 0;
    display: table;
    width: 100%;
    height: 900px;
}
.s_contant {
    /* padding: 18% 3%; */
    display: table-cell;
    vertical-align: middle;
}
.s_contant h2 {
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 300;
	text-align: left;
}
.s_contant p {
	font-size: 26px;
	font-weight: 300;
}
.bnr_contant_box .btn-success {
	color: #fff;
	background-color: #93b924;
	border-color: #93b924;
	margin: 15px 25px 0 0;
	padding: 15px 35px;
	font-size: 20px;
	font-weight: 600;
}
.bnr_contant_box .btn-success:hover {
	color: #fff;
	background-color: #93B924;
	border-color: #93B924;
}
button.btn.btn-success.transparent_btn {
	background-color: rgba(255,255,255,0.0);
	border-color: rgba(255,255,255,1);
	font-weight: 300;
	width: 200px;
}
button.btn.btn-success.transparent_btn:hover {
	font-weight: 600;
	background-color: #93B924;
	border-color: #93B924;
}
.indybtn .btn-success {
	color: #fff;
	background-color: #93b924;
	border-color: #93b924;
	margin: 15px 25px 0 0;
	padding: 15px 35px;
	font-size: 20px;
	font-weight: 600;
}
.indybtn .btn-success:hover {
	color: #fff;
	background-color: #93B924;
	border-color: #93B924;
}
button.btn.btn-success.transparent_btn {
	background-color: rgba(255,255,255,0.0);
	border-color: rgba(255,255,255,1);
	font-weight: 300;
	width: 200px;
}
button.btn.btn-success.transparent_btn:hover {
	font-weight: 600;
	background-color: #93B924;
	border-color: #93B924;
}
.section_2 {
    position: relative;
    background-color: #181818;
    padding: 0px 0;
}
.vedio_box {
    width: 70%;
    margin: 0px auto;
}
.vedeo_overlayer {
    background-image: url('../images/plyer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 100%;
    opacity: 1;
}
.section_3 {
	padding: 50px 0;
}
.section_4 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgba(0,0,0,1);
	height: auto;
	color: #fff;
}
.home_form {
    width: 75%;
    margin: 0px auto;
}
.home_form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.428571;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #757373;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.home_form .form-control:focus {
    border-color: #A8C716;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(168, 199, 22);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgb(168, 199, 22);
}
.home_form  select#sel1 {
    background: black;
}
.home_form  select#sel2 {
    background: black;
}
.home_form input::-webkit-input-placeholder {
color: #fff !important;
}
 
.home_form input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
.home_form input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
.home_form input:-ms-input-placeholder {  
color: #fff !important;  
}
.home_form textarea::-webkit-input-placeholder {
color: #fff !important;
}
 
.home_form textarea:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
.home_form textarea::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
.home_form textarea:-ms-input-placeholder {  
color: #fff !important;  
}
.home_form textarea#comment {
    height: 160px;
    padding-top: 0;
}
.section_5 {
	height: 750px;
	background-image: url('../images/banner2.jpg');
	background-position: center 10%;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	width: 100%;
}
.section_5_box {
	width: 50%;
	padding: 0 5%;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
}
.section_5_box .box_contant {
	float: right;
}
.section_5_box h3 {
	font-size: 44px;
	text-transform: uppercase;
}
.section_5_box p {
	font-size: 18px;
}
.section_6 {
	padding: 50px 0;
}
.well {
	min-height: 100px;
	padding: 50px 0;
	margin-bottom: 0;
	background-color: #f1f1f1;
	border: 0px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.05);
}
.thum_box {
	width: 100%;
	margin: 0px auto;
	background-color: #fff;
	height: 350px;
	padding: 10% 5%;
}
a.left.carousel-control_d {
	position: absolute;
	top: 40%;
	font-size: 50px;
	left: 2%;
	color: #9A9999;
}
a.right.carousel-control_d {
	position: absolute;
	top: 40%;
	font-size: 50px;
	right: 2%;
	color: #9A9999;
}
div#myCarousel .thum_box {
	width: 100%;
	margin: 0px auto;
	background-color: #fff;
	height: 410px;
	padding: 0;
}
div#myCarousel .thum_box img {
	width: 100%;
}
div#myCarousel .text-center {
	padding: 2%;
	width: 77%;
	margin: 0px auto;
	font-size: 16px;
}
div#myCarousel .text-center h4 {
	font-size: 24px;
	margin: 10px 0;
}
a.l_more {
	border: 2px solid #444;
	border-radius: 5px;
	padding: 10px 30px;
	margin: 13px;
	line-height: 4;
	font-size: 24px;
	color: #424345;
	text-decoration: none;
}
div#myCarousel2 h4 {
	font-size: 24px;
	margin: 10px 0;
}
.section_7 {
	background-color: #fff;
	padding: 50px;
}
.section_8 {
	display: table;
	padding: 80px 50px;
	width: 100%;
}
.section_8_box {
	display: table;
	vertical-align: top;
	height: 150px;
	background-color: #fff;
	margin: 1%;
	float: left;
	padding: 20px;
	width: 31.33%;
	font-size: 16px;
}
.section_8_box .left {
	width: 20%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.section_8_box .right {
	width: 75%;
	display: table-cell;
	vertical-align: middle;
}
.section_8_box i {
	font-size: 28px;
	color: #9EC42E;
}
.section_8_box.reseller {
	background-color: #555555;
	color: #fff;
	font-size: 28px;
}
.reseller_box {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.section_8_box.reseller i {
	font-size: 28px;
	color: #fff;
}
#footer {
	margin: 0px;
	padding: 30px;
	border: 0px solid #ccc;
	background: #a2c831; /* Old browsers */
	background: -moz-linear-gradient(top, #a2c831 0%, #87ac1a 50%, #87ac1a 52%, #6d9104 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a2c831 0%, #87ac1a 50%, #87ac1a 52%, #6d9104 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a2c831 0%, #87ac1a 50%, #87ac1a 52%, #6d9104 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2c831', endColorstr='#6d9104', GradientType=0 ); /* IE6-9 */
}
.footer_top {
	width: 80%;
	margin: 0px auto;
}
#footer .logobox {
	display: inline-block;
	vertical-align: top;
	width: 29%;
	border: 0px solid;
	height: 80px;
	font-size: 40px;
	color: #fff;
	line-height: 1;
	padding: 7px 0;
}
.ft_logo {
	display: inline-block;
	vertical-align: top;
}
.ft_menu {
	display: inline-block;
	vertical-align: bottom;
	padding: 5px;
	margin-left: 3%;
}
.ft_menu p {
	color: #fff;
	text-decoration: none;
}
.ft_menu p a {
	color: #fff;
	text-decoration: none;
}
.footer_bottom {
	width: 80%;
	margin: 0px auto;
}
.fmenu_box {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 5px;
	width: 19%;
}
#footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer ul li {
	display: block;
	vertical-align: top;
	color: #fff;
}
#footer ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
.mainmenu{
	display:block;	
}
.comman_bnr_box {
	display: table;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 600px;
}
.cbb_box {
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	right: 0;
	display: table;
	width: 100%;
	height: 600px;
}
.cbb_contant {
	/* padding: 18% 3%; */
	display: table-cell;
	vertical-align: middle;
}
.comman_bnr_box h2 {
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 300;
	text-align: left;
}
.comman_bnr_box p {
	font-size: 26px;
	font-weight: 300;
}
.tbspace {
	padding-top:50px;
	padding-bottom:50px;	
}
h2.page_heading {
    text-transform: capitalize;
    font-size: 40px;
    text-align: left;
    margin: 0px 0px 20px;
}
.allcomman_box p {
	font-size: 16px;
	color: #424345;
	margin-bottom: 15px;
}
.smart_sns {
    height: 600px;
    display: table;
    width: 100%;
}
.smart_sns_box1 {
    width: 50%;
    padding: 0 5%;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    background-image: url('http://indyme.marcosebastian.com/wp-content/themes/indyme/images/banner2.jpg');
    background-position: center 10%;
    background-repeat: no-repeat;
    background-size: cover;
}
.smart_sns_box2 {
    width: 50%;
    padding: 0 5%;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
	background-color:rgba(0,0,0,1)
}
.smart_sns h3 {
    font-size: 44px;
    text-transform: uppercase;
}
.smart_sns p {
    font-size: 18px;
    color: #fff;
}
.latest_news {
    border-bottom: 2px solid #B5B3B3;
}
.latest_news ul {
    padding: 0;
    list-style-type: none;
    clear: both;
    margin: 0px auto;
}
.latest_news ul li {
    font-size: 18px;
    display: inline-block;
    width: 49%;
    margin: 10px 0;
	color:#3aa7bb;
}
.latest_news ul li a{
	color:#3aa7bb;
	text-decoration:none;
}
.latest_news ul li a span{
	color:#ccc;
}
/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 0px;
    font-size: 18px;
    color: #424345;
    border: 1px solid #ccc;
    padding: 4%;
}

.tabs-left > .nav-tabs {
    margin-right: 3%;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.tabs-left .tab-content {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
      border-color: #197687;
    background-color: #197687;
    border-top: 1px solid #fff;
    color: #fff;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FFF;
    cursor: default;
    background-color: #197687;
    border: 1px solid #197687;
    border-bottom-color: transparent;
    font-size: 18px;
}
.tab_video {
    margin: 30px 0px;
}
.text_table ul {
    padding: 0;
    margin: 50px 0;
    list-style-type: none;
}
.text_table ul li .t_box {
    display: inline-block;
    vertical-align: top;
    width: 100px;
}
.t_box img {
    width: 100%;
}
.smart_res img {
    width: 100%;
}
.text_table ul li .t_text {
    display: inline-block;
    vertical-align: top;
    width: 85%;
	    padding: 10px;
}
.tab-content h4 {
    font-size: 20px;
    font-weight: 600;
}
.t_req_demo {
    background-color: #2e2e2e;
    padding: 15px 20px 25px;
}
.trd_l {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    vertical-align: top;
    text-align: center;
    width: 100%;
    float: initial;
}
.trd_l.indybtn button.btn.btn-success {
    margin-left: 20px;
}
#myCarousel3 .thum_box {
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
    height: auto;
    padding: 0;
}
#myCarousel3 .thum_box img {
    width: 100%;
}
.thum-grid .thumbnail {
    height: 300px;
    padding: 15% 0;
}
.thum-grid .text-center {
    margin-top: 10%;
	padding: 2%;
}
.icon_tm {
    display: table;
    vertical-align: middle;
    text-align: center;
	    width: 100%;
}
.icon_img{
	height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.thum-grid .text-center h4 {
    line-height: 1.5;
}
.job_opening ul {
    margin: 0;
    padding: 0% 5% 2%;
}
.job_opening ul li {
    color: #424345;
    margin: 10px 0;
}
.job_opening ul li a {
    display: block;
    text-decoration: none;
    color: #424345;
    font-size: 16px;
}
.role_res{
	width: 70%;
	margin: 0px auto;	
}
.cv_form {
    height: 600px;
    background: #000;
    padding: 50px 0;
}
.cv_form h2 {
    color: #fff;
}
.view_circle {
    background: #FEFEFE;
    width: 600px;
    margin: 0px auto;
}
/* About us Member CSS*/
div.slideToggle.active::after, .hiwToggle.text-center.active::after {
    border-bottom: 20px solid #eaeaea;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: auto;
    bottom: 14px;
    content: "";
    margin: auto;
    position: relative;
}
div.slideToggle.active::after{bottom: 0;}
div[class^="slideToggle"] img {
	width: 100%;
}
div[class^="slideToggle"] .abt-detail {
	background: #292929;
}
div[class^="slideToggle"] .abt-detail h2 {
	color: #fff;
	display: block;
	font-size: 22px;
	margin: 0;
	padding-top: 18px;
}
div[class^="slideToggle"] .abt-detail h5 {
	font-size: 16px;
	margin-bottom: 7px;
	margin-top: 7px;
	color: #888888;
}
div[class^="slideToggle"] .abt-detail i {
	display: block;
	font-size: 30px;
	padding-bottom: 24px;
	color: #b4b4b4;
}
div[class^="slideTogglebox"] {
	background-color: #eaeaea;
	color: #4c4c4c;
	display: none;
	float: left;
	margin: 0 0 50px;
	padding: 50px 35px;
	position: relative;
	width: 100%;
}

.abt_team .slideToggle {padding: 0 20px;}
.abt_acc .abt_team > .row {margin-bottom: 20px;}
.about_us .our_his {line-height: 28px;}
.content-title{font-weight: 300;}
.our_his_togglebox{display: none;}
.our_his .our_his_toggle a {
    color: #1da18d;
    font-size: 26px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    display: block;
    text-decoration: none;
}
.our_his .our_his_toggle i {
    display: block;
}
/* How it works CSS*/
.hiw_wrapper .tbspace{padding-bottom: 0;}
.hiwToggle {position: relative;clear: both;}
.hiwToggle.text-center.active::after {
    border-bottom: 20px solid #eaeaea;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: auto;
    bottom: 14px;
    content: "";
    margin: auto;
    position: relative;
}
.hiw_txt{color: #3aa7bb;margin-bottom: 50px;}
.hiw_txt i {font-size: 30px;display: block;}
.hiw_txt p {
	border: 2px solid #3aa7bb;
	border-radius: 105px;
	font-size: 28px;
	height: 200px;
	line-height: normal;
	margin: 20px auto 0;
	padding-top: 65px;
	width: 200px;
	color: #3aa7bb;
}
.hiw_txt p:hover, .hiwToggle.active .hiw_txt p {
    background: #3aa7bb;
    color: #fff;
}
div[class^="hiwTogglebox"] {
    background-color: #eaeaea;
    color: #4c4c4c;
    display: none;
    float: left;
    margin: 5px 0 0 0;
    padding: 50px 35px;
    position: relative;
    width: 100%;
}
.d_team {display: block;}
.m_team {display: none;}
.d_page_l {
	display: inline-block;
	vertical-align: top;
	width: 67%;
	padding-right: 3%;
}
.d_page_r {
	display: inline-block;
	vertical-align: top;
	width: 32%;
	padding-right: 0;
}
.block_box{
	background-color: #000;
	padding:10% 10%;
	font-size:20px;
	color:#fff;
}
.block_box p {
    font-size: 26px;
    color: #fff;
    font-weight: 300;
}
.block_contantbox {
    width: 70%;
    margin: 0px auto;
}
.d_page {
    border-bottom: 1px solid #ccc;
}
