@media only screen and (max-width: 1366px) {
.banner_box {
	height: 750px;
}
.bnr_contant_box {
	height: 750px;
}
h2 {
	font-size: 48px;
}
}
@media only screen and (min-width: 1200px) and (max-width: 1359px) {
.section_5_box {
	padding: 0 5% 0 0;
}
.home_form {
	width: 90%;
}
.section_8_box {
	padding: 5px;
}
.section_8_box .left {
	width: 15%;
}
.section_8_box .right {
	width: 80%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
h2 {
	font-size: 40px;
}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 16px;
}
nav.mainmenu ul li {
	padding: 10px 5px;
	margin-left: 5px;
	font-size: 16px;
	font-weight: 300;
}
.s_contant h2 {
	font-size: 40px;
}
.s_contant p {
	font-size: 20px;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 90%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: 350px;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {
	height: 290px;
}
.home_form {
	width: 90%;
}
.section_8_box {
	height: 200px;
}
.text_table ul li .t_text {
    width: 80%;
}
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
h2 {
	font-size: 40px;
}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 16px;
}
nav.mainmenu ul li {
	padding: 10px 5px;
	margin-left: 5px;
	font-size: 16px;
	font-weight: 300;
}
.s_contant h2 {
	font-size: 40px;
}
.s_contant p {
	font-size: 20px;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 90%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: 350px;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {
	height: 290px;
}
.home_form {
	width: 90%;
}
.section_8_box {
	height: 200px;
}
.text_table ul li .t_text {
    width: 80%;
}
}
@media only screen and (min-width: 960px) and (max-width: 991px) {
h2 {
	font-size: 40px;
}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 16px;
}
nav.mainmenu ul li {
	padding: 10px 5px;
	margin-left: 5px;
	font-size: 16px;
	font-weight: 300;
}
.s_contant h2 {
	font-size: 40px;
}
.s_contant p {
	font-size: 20px;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 90%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: auto;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {
	height: auto;
	padding: 5% 5%;
}
.home_form {
	width: 90%;
}
.section_8_box {
	height: 200px;
}
.text_table ul li .t_text {
    width: 80%;
}
#myCarousel3 .thum_box img {
    margin: 10px 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
h2 {
	font-size: 30px;
}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 13px;
}
nav.mainmenu ul li {
	padding: 10px 3px;
	margin-left: 3px;
	font-size: 14px;
}
span.flag {
	padding: 10px;
}
.banner_box {
	height: 550px;
}
.bnr_contant_box {
	height: 550px;
}
.s_contant h2 {
	font-size: 30px;
	letter-spacing: 2px;
}
.s_contant p {
	font-size: 18px;
}
.vedio_box {
	width: 100%;
	margin: 0px auto;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 90%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: auto;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {
	height: auto;
	padding: 5% 5%;
}
.home_form {
	width: 90%;
}
.section_5_box h3 {
	font-size: 30px;
}
.section_8_box {
	height: 200px;
}
.section_8_box {
	padding: 5px;
	font-size: 14px;
}
.footer_top {
	width: 100%;
}
.footer_bottom {
	width: 100%;
}
.text_table ul li .t_text {
    width: 75%;
}
#myCarousel3 .thum_box img {
    margin: 10px 0;
}
.latest_news ul li {
    padding: 0 1%;
}
}
@media only screen and (max-width: 767px) {
.desktop_header {
	display: none;
}
.mobile_header {
	display: block;
}
.desktop_tab {
	    display: none !important;
}
.mobile_tab {
	display: block;
}

.mainmenu{
	display:none;	
}
div#toggle {
    color: #fff;
    padding: 0;
    font-size: 30px;
	cursor: pointer;
}
h2 {
	font-size: 26px;
}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 13px;
}
nav.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.8);
	padding: 30px;
	width: 50%;
	float: right;
}
nav.mainmenu ul li {
	padding: 10px 5px;
	margin-left: 0;
	font-size: 16px;
	width: 100%;
	border-bottom: 2px solid #67801F;
}
span.flag {
	padding: 10px;
}
.banner_box {
	height: 550px;
}
.bnr_contant_box {
	height: 550px;
}
.s_contant h2 {
	font-size: 26px;
	letter-spacing: 2px;
}
.s_contant p {
	font-size: 18px;
}
.vedio_box {
	width: 100%;
	margin: 0px auto;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 90%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: auto;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {
	height: auto;
	padding: 5% 5%;
}
.home_form {
	width: 90%;
}
.section_5_box h3 {
	font-size: 30px;
}
.section_8_box {
    height: auto;
    margin-bottom: 30px;
}
.section_8_box {
	padding: 5px;
	font-size: 14px;
	width: 100%;
}
.footer_top {
	width: 100%;
}
.footer_bottom {
	width: 100%;
}
.ft_menu {
	margin-left: 0;
}
.fmenu_box {
	width: 49%;
}
.mobile_tab a {
    color: #FFF;
    cursor: default;
    background-color: #197687;
    border: 1px solid #197687;
    border-bottom-color: transparent;
    font-size: 18px;
    display: block;
    padding: 3%;
    text-decoration: none;
    margin: 5px;
}
.tabs-left .tab-content {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.t_box img {
    width: 100%;
}
.smart_res img {
    width: 100%;
}
#myCarousel3 .thum_box img {
    margin: 10px 0;
}
.latest_news ul li {
    padding: 0 1%;
	    width: 100%;
}
.role_res{
width: 90%;
margin: 0px auto;	
}
.cv_form {
    height: auto;
}
.d_team {display: none;}
.m_team {display: block;}
div[class^="hiwTogglebox"]{margin: 5px 0 30px;}
div[class^="hiwTogglebox"]:last-child{margin: 5px 0 0;}
.smart_sns h3 {
    font-size: 32px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (max-width: 640px) {
nav.mainmenu ul {
	width: 80%;
}
.bnr_contant_box {
	height: 650px;
}
}
@media only screen and (max-width: 479px) {
.headerbottom .navbox {
	width: 67%;
}
nav.mainmenu ul {
	width: 100%;
}
a.left.carousel-control_d {
	font-size: 28px;
}
a.right.carousel-control_d {
	font-size: 28px;
}
h2 {
	font-size: 26px;
	line-height: 1.3;
}
.fmenu_box {
	width: 100%;
}
.headerbottom .navbox {
	width: 67%;
}
nav.mainmenu ul {
	width: 100%;
}
a.left.carousel-control_d {
	font-size: 28px;
}
a.right.carousel-control_d {
	font-size: 28px;
}
h2 {
	font-size: 26px;
	line-height: 1.3;
}
.fmenu_box {
	width: 100%;
}
button.btn.btn-success.transparent_btn {
    width: 245px;
}
.thum-grid .col-xs-6{
 width:100%;	
}
.comman_bnr_box p {
    font-size: 18px;
}
.comman_bnr_box h2, h2.page_heading{font-size: 36px;}
.smart_sns h3 {
    font-size: 28px;
}
.smart_sns{height: auto;}
.smart_sns_box1, .smart_sns_box2 {width: 100%;display: block;}
.smart_sns_box1 {padding: 0 5%;height: 300px;}
.smart_sns_box2 {padding: 5% 5% 10%;}
}
