.green-c01 {
    background-color: #7fb900;
    border: 3px solid #eaeaea;
    border-radius: 25px;
    margin-right: 5px;
    padding: 0px 12px;
}
.blue-c02 {
    background-color: #0096cd;
    border: 3px solid #eaeaea;
    border-radius: 25px;
    margin-right: 5px;
    padding: 0px 12px;
}
@media only screen and (max-width: 1366px) {

h2 {
	font-size: 48px;
}
}
@media only screen and (min-width: 1200px) and (max-width: 1359px) {
.section_5_box {
	padding: 0 5% 0 0;
}
.home_form {
	width: 90%;
}
.section_8_box {
	padding: 5px;
}
.section_8_box .left {
	width: 15%;
}
.section_8_box .right {
	width: 80%;
}
.banner_box {
	height: 674px;
}
.bnr_contant_box {
	height: 677px;
}
}
@media only screen and (max-width: 1239px) {
	.fixed{width: 100%;}
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
.banner_box {
	height: 573px;
}
.bnr_contant_box {
	height: 577px;
}
h2 {
	font-size: 40px;
}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 16px;
}
nav.mainmenu ul li {
	padding: 10px 5px;
	margin-left: 5px;
	font-size: 16px;
	font-weight: 300;
}
.s_contant h2 {
	font-size: 40px;
}
.s_contant p {
	font-size: 20px;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 90%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: 350px;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {
	height: 290px;
}
.home_form {
	width: 90%;
}
.section_8_box {
	height: 200px;
}
.text_table ul li .t_text {
    width: 80%;
}
.smart_sns_box2{padding: 0 40px;}
.smart_sns .indybtn .btn.btn-success{margin: 0 8px 15px 0;}
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
.banner_box {
	height: 558px;
}
.bnr_contant_box {
	height: 561px;
}

h2 {
	font-size: 40px;
}
.smart_sns_box2{padding: 0 40px;}
.smart_sns .indybtn .btn.btn-success{margin: 0 8px 15px 0;}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 16px;
}
nav.mainmenu ul li {
	padding: 10px 5px;
	margin-left: 5px;
	font-size: 16px;
	font-weight: 300;
}
.s_contant h2 {
	font-size: 40px;
}
.s_contant p {
	font-size: 20px;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 90%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: 350px;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {
	height: 290px;
}
.home_form {
	width: 90%;
}
.section_8_box {
	height: 200px;
}
.text_table ul li .t_text {
    width: 80%;
}
}
@media only screen and (min-width: 960px) and (max-width: 991px) {

.banner_box {
	height: 540px;
}
.bnr_contant_box {
	height: 540px;
}
h2 {
	font-size: 40px;
}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 16px;
}
nav.mainmenu ul li {
	padding: 10px 5px;
	margin-left: 5px;
	font-size: 16px;
	font-weight: 300;
}
.s_contant h2 {
	font-size: 40px;
}
.s_contant p {
	font-size: 20px;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 90%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: auto;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {
	height: auto;
	padding: 5% 5%;
}
.home_form {
	width: 90%;
}
.section_8_box {
	height: 200px;
}
.text_table ul li .t_text {
    width: 80%;
}
#myCarousel3 .thum_box img {
    margin: 10px 0;
}
.smart_sns_box2{padding: 0 40px;}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
.abt_team .row.d_team {
    margin: auto;
    width: 86%;
}
.modal {
  width: 100%;
  height: auto;
}
.store-mpoint .pin2 h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
	line-height: 2;
}
.jquery-modal > .modal {
    position: relative !important;
    top: 5%;
}
	.mlook{
	display: block;
}
.dlook{
	display: none;
}
a.modal-chevron, a.modal-chevron a.next {
    top: 24%;
}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {

.banner_box {height: 432px;}
.bnr_contant_box {height: 435px;}	
h2 {font-size: 30px;}
.smart_sns_box2{padding: 0 40px;}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 13px;
}
nav.mainmenu ul li {
	padding: 10px 3px;
	margin-left: 3px;
	font-size: 14px;
}
span.flag {padding: 10px;}
.s_contant h2 {font-size: 30px;letter-spacing: 2px;}
.s_contant p {font-size: 18px;}
.vedio_box {width: 100%;margin: 0px auto;}
div#myCarousel .text-center {
	margin: 0 auto 30px;
    padding: 2% 5%;
	width: 100%;
	font-size: 15px;
}
div#myCarousel .thum_box {height: auto;padding: 0;}
.section_5_box {width: auto;}
div#myCarousel2 h4 {font-size: 18px;}
a.l_more {
	padding: 5px 10px;
	margin: 10px;
	font-size: 18px;
}
.thum_box {height: auto;padding: 5% 5%;}
.home_form {width: 90%;}
.section_5_box h3 {font-size: 30px;}
.section_8_box {height: 200px;}
.section_8_box {padding: 5px;font-size: 14px;}
.footer_top {width: 100%;}
.footer_bottom {width: 100%;}
.text_table ul li .t_text {width: 85%;}
#myCarousel3 .thum_box img {margin: 10px 0;}
.latest_news ul li {padding: 0 1%;}
.hiw_txt p {
    font-size: 18px;
    height: 140px;
    width: 140px;
    padding: 12px 10px 0;
}
.hiw_txt > p span {font-size: 36px;}
.view_circle h4{left: 0;}
.view_circle h4 + h4{right: 0;}
.section_7 .img-responsive {width: 80%;}
.smart_sns h3 {font-size: 34px;}
.top_info ul li.re_demo, .desktop_header.fixed .top_info ul li.re_demo {margin-right: 15px;}
.desktop_header.fixed nav.mainmenu ul li {
    font-size: 16px;
    padding: 15px 3px;
}

}
@media only screen and (max-width: 768px) {
.allcomman_box.about_us .carousel-inner .item a {
    display: block;
    margin-bottom: 20px;
}
.desktop_header.fixed .headerbottom .menu-main-menu-container {
    margin-left: 0;
}
.mobile_header .headerbottom .navbox {
    float: right;
}
.jquery-modal > .modal {
    position: absolute;
    top: 0%;
}
	.mlook{
	display: block;
}
.dlook{
	display: none;
}
}
@media only screen and (max-width: 767px) {
	.mlook{
	display: block;
}
	.mlook img {
	display: block;
}
.dlook{
	display: none;
}
.blocker {
	padding: 0px;
}
.modal {
  width: 100%;
  height: auto;
  border-radius: 0px;
}
.store-mpoint {
	padding: 40px;
	}
	
.store-mpoint .pin2 h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
	line-height: 2;
}
.jquery-modal > .modal {
    position: relative !important;
    top: 0%;
}

.white-logo {margin-top: 0;}
.abt_acc .abt_team > .row {margin-bottom: 0px;}
.m_team {margin-top: 10px;}
div.slideToggle.m_team.active::after, .hiwToggle.text-center.m_team.active::after {  }
.headerbottom {top: 5px;padding: 0 20px;z-index: 999;}
.desktop_header {display: none;}
.mobile_header {display: block;}
.desktop_tab {display: none !important;}
.tabbable.tabs-left .desktop_tab{display: block !important;margin-bottom: 30px;width: 100%;}
.mobile_tab {display: block;}
.mainmenu{display:none;	}
div#toggle {
    color: #fff;
    padding: 0 20px 0 0;
    font-size: 30px;
	cursor: pointer;
}
h2 {font-size: 26px;}
.top_info ul li {
	padding: 5px 5px;
	margin-left: 0px;
	font-size: 13px;
}
nav.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.8);
	padding: 30px;
	width: 50%;
	float: right;
}
nav.mainmenu ul li {
	padding: 10px 5px;
	margin-left: 0;
	font-size: 16px;
	width: 100%;
	border-bottom: 2px solid #67801F;
}
span.flag {padding: 10px;}
.banner_box {height: 360px;}
.bnr_contant_box {height: 363px;}
.s_contant h2 {
	font-size: 26px;
	letter-spacing: 2px;
}
.s_contant p {
	font-size: 18px;
}
.vedio_box {
	width: 100%;
	margin: 0px auto;
}
div#myCarousel .text-center {
	padding: 2% 0;
	width: 100%;
	margin: 0px auto;
	font-size: 15px;
}
div#myCarousel .thum_box {
	height: auto;
	padding: 0;
}
.section_5_box {
	width: auto;
}
div#myCarousel2 h4 {
	font-size: 18px;
}
a.l_more {
    display: block;
    font-size: 18px;
    height: auto;
    line-height: 40px;
    margin: 10px 0;
    padding: 5px 10px;
    width: 100%;
}
.thum_box {
	height: auto;
	padding: 5% 5%;
}
.home_form {
	width: 90%;
}
.section_5_box h3 {
	font-size: 30px;
}
.section_8_box {
    height: auto;
    margin-bottom: 30px;
}
.section_8_box {
	padding: 5px;
	font-size: 14px;
	width: 100%;
}
.footer_top {
	width: 100%;
}
.footer_bottom {
	width: 100%;
}
.ft_menu {
	margin-left: 0;
}
.fmenu_box {
	width: 49%;
}
.mobile_tab a {
    color: #FFF;
    cursor: default;
    background-color: #197687;
    border: 1px solid #197687;
    border-bottom-color: transparent;
    font-size: 18px;
    display: block;
    padding: 3%;
    text-decoration: none;
    margin: 5px;
}
.tabs-left .tab-content {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.t_box img {
    width: 100%;
}
.smart_res img {
    width: 100%;
}
#myCarousel3 .thum_box img {
    margin: 10px 0;
}
.latest_news ul li {
    padding: 0 1%;
	    width: 100%;
}
.role_res{
width: 90%;
margin: 0px auto;	
}
.cv_form {
    height: auto;
}
.d_team {display: none;}
.m_team {display: block;}
div[class^="hiwTogglebox"]{margin: 5px 0 30px;}
div[class^="hiwTogglebox"]:last-child{margin: 5px 0 0;}
.smart_sns h3 {font-size: 32px;}
.view_circle h4{left: 0;font-size: 22px;}
.view_circle h4 + h4{right: 0;}
.section_7 .img-responsive {width: 80%;}
.smart_sns h3 {font-size: 34px;}
div#myCarousel .text-center {margin: 0 auto 30px;padding: 2% 5%;}
.section_8_box {margin-bottom: 10px;padding: 20px 5px;width: 98%;}
.section_8_box.reseller a{padding: 18px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (max-width: 640px) {
nav.mainmenu ul {
	width: 80%;
}
.banner_box {
	height: 360px;
}
.bnr_contant_box {
	height: 363px;
}


.modal {
  width: 100%;
}

.modal-wrapper #wrapper img {
	width: 100%;
	}
	
}
@media only screen and (max-width: 568px) {
.find-sell #wpsl-search-wrap .wpsl-input div {
    padding: 0 !important;
    width: 100%;
}
.find-sell div > div.wpsl-search #wpsl-search-wrap form .wpsl-search-btn-wrap {
    margin-top: 20px;
    width: 100%;
}
.find-sell #wpsl-search-wrap .wpsl-input label {
    font-size: 34px;
}
.btn,
.section_1 .s_contant a.btn, a.btn.btn-success.transparent_btn,
.smart_sns .indybtn .btn.btn-success, .contact_us .wpcf7-form-control.wpcf7-submit {
	width: 100%;
	}
	.indybtn .btn-success, .section_1 .s_contant a.btn {margin-right: 0;}
}
@media only screen and (max-width: 557px) {
	.text_table ul li .t_text{width: 75%;}
}
@media only screen and (max-width: 415px) {
	.home_form .form-control, .contact_us .wpcf7-form-control{padding: 6px 30px 6px 0;font-size: 12px;}
	.navbox div#toggle {padding: 0;}
	.headerbottom .navbox {width: 65px;}
	.headerbottom .navbox nav {
    position: absolute;
    right: 20px;
    width: 200px;
}
}
@media only screen and (max-width: 479px) {
.find-sell #wpsl-search-wrap .wpsl-input div {
    padding: 0 !important;
    width: 100%;
}
.find-sell div > div.wpsl-search #wpsl-search-wrap form .wpsl-search-btn-wrap {
    margin-top: 20px;
    width: 100%;
}
.find-sell #wpsl-search-wrap .wpsl-input label {
    font-size: 34px;
}
.btn,
.section_1 .s_contant a.btn, a.btn.btn-success.transparent_btn,
.smart_sns .indybtn .btn.btn-success, .contact_us .wpcf7-form-control.wpcf7-submit {
	width: 100%;
	}
	.indybtn .btn-success, .section_1 .s_contant a.btn {margin-right: 0;}
.s_contant p {
	font-size: 18px;
}

.banner_box {
    width: 100%;
    height: 600px;
    position: relative;
    top: 90px;
}

.s_contant {
    /* padding: 18% 3%; */
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.s_contant h2 {
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 40px;
	padding-bottom: 3px;
	margin-bottom: 0px;
}
.s_contant p {
	font-size: 18px;
	font-family: 'robotolight', sans-serif;
	line-height: 24px;
}
.section_1 {
	height: 500px;
	background: #181818;
}

.section_2 {
    clear: both;
	height: 400px;
}

.bnr_video {
	display: none;
	}

.mobile_header .headertop {
	display: none;
	}
	
.headerbottom {
	top: 5px;
	}
nav.mainmenu ul {
	width: 100%;
}
a.left.carousel-control_d {
	font-size: 28px;
}
a.right.carousel-control_d {
	font-size: 28px;
}
h2 {
	font-size: 26px;
	line-height: 1.3;
}
.fmenu_box {
	width: 100%;
}

nav.mainmenu ul {
	width: 100%;
}
a.left.carousel-control_d {
	font-size: 28px;
}
a.right.carousel-control_d {
	font-size: 28px;
}
h2 {
	font-size: 26px;
	line-height: 1.3;
}
.fmenu_box {
	width: 100%;
}
button.btn.btn-success.transparent_btn {
    width: 245px;
}
.thum-grid .col-xs-6{
 width:100%;	
}
.comman_bnr_box p {
    font-size: 18px;
}
.comman_bnr_box h2, h2.page_heading{font-size: 36px;}
.smart_sns h3 {
    font-size: 28px;
}
.smart_sns{height: auto;}
.smart_sns_box1, .smart_sns_box2 {width: 100%;display: block;}
.smart_sns_box1 {padding: 0 5%;height: 300px;}
.smart_sns_box2 {padding: 5% 5% 10%;}
.banner_box {
	height: 360px;
}
.bnr_contant_box {
	height: 363px;
}
.view_circle h4{font-size: 16px;}
.msize{
width:100%;	
}
a.modal-chevron, a.modal-chevron a.next {
    display: none;
}
}
